.intro {
    position: absolute;
    bottom: 10px;
    right: 8px;
    height: 24px;
    width: 45px;
    background: white;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
}

.intro-popover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    /*transition: opacity 1s;*/
    height: auto;
    padding: 30px;
    border: 1px;
    border-radius: 3px;
    background: white;
    line-height: 25px;
    min-width: 70%;
    z-index: 9999;
}

.intro-popover.inactive {
    opacity: 0;
    display: none;
    overflow: hidden;
}
