/**
 * Stylesheet for Elements: Main stuff
 *
 * @package     NoNumber! Elements
 * @version     2.4.2
 *
 * @author      Peter van Westen <peter@nonumber.nl>
 * @link        http://www.nonumber.nl
 * @copyright   Copyright © 2011 NoNumber! All Rights Reserved
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

table.admintable {
	 margin: 0;
}
table.admintable tr,
table.admintable tr td {
	 height: auto;
}