.gbm1 {
	MARGIN-BOTTOM: 9px
}
.gbm {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; MARGIN-BOTTOM: 9px; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid
}
.gbt_t1 {
	BORDER-BOTTOM: #e3e3e3 1px solid; LINE-HEIGHT: 30px; WIDTH: 50%; HEIGHT: 30px; FONT-SIZE: 14px
}
.gbt_t1 .pad {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.gbt_t2 {
	BORDER-BOTTOM: #e3e3e3 1px solid; LINE-HEIGHT: 30px; WIDTH: 50%; HEIGHT: 30px
}
.gbt_t2 .pad {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.gbm_t1 {
	WIDTH: 50%; HEIGHT: 260px; BORDER-RIGHT: #e3e3e3 1px solid
}
.gbm_t2 {
	WIDTH: 50%; HEIGHT: 200px
}
.gbm_t3 {
	WIDTH: 50%; HEIGHT: 145px; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid
}
.gbm_t4 {
	WIDTH: 50%; HEIGHT: 145px; BORDER-TOP: #e3e3e3 1px solid
}
.gbm_t5 {
	WIDTH: 50%; HEIGHT: 140px; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid
}
.gbm_t6 {
	WIDTH: 50%; HEIGHT: 140px; BORDER-TOP: #e3e3e3 1px solid
}
.gbm_t7 {
	WIDTH: 50%; HEIGHT: 60px; BORDER-TOP: #e3e3e3 1px solid
}
.gfb1 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: right; PADDING-TOP: 10px
}
.gfb1 IMG {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 460px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 250px; BORDER-LEFT-WIDTH: 0px
}
.gfb2 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FLOAT: left; PADDING-TOP: 5px
}
.gfb2 .u1 {
	WIDTH: 466px; FLOAT: left; HEIGHT: 160px; COLOR: #666
}
.gfb2 .l1 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 70px; PADDING-RIGHT: 5px; FLOAT: left; HEIGHT: 70px; PADDING-TOP: 5px
}
.gfb2 .l1 IMG {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 70px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 70px; BORDER-LEFT-WIDTH: 0px
}
.gfb2 .l2 {
	LINE-HEIGHT: 25px; MARGIN: 15px 0px; WIDTH: 153px; FLOAT: left; HEIGHT: 50px; OVERFLOW: hidden
}
.gfb2 .u1 A {
	OUTLINE-STYLE: none; CURSOR: pointer
}
.gfb2 .u1 A:link {
	COLOR: #666
}
.gfb2 .u1 A:visited {
	COLOR: #666
}
.gfb2 .u1 A:hover {
	COLOR: #ff9300; TEXT-DECORATION: none
}
.gfb2 .u1 A:active {
	COLOR: #ff9300; TEXT-DECORATION: none
}
.gfb2 .u1 A.active {
	COLOR: #ff9300; TEXT-DECORATION: none
}
.gfb2 .u2 {
	WIDTH: 466px; FLOAT: left; HEIGHT: 30px
}
.gfb2 .u2 A {
	OUTLINE-STYLE: none; CURSOR: pointer
}
.gfb2 .u2 A:link {
	COLOR: #333333; TEXT-DECORATION: underline
}
.gfb2 .u2 A:visited {
	COLOR: #333333; TEXT-DECORATION: underline
}
.gfb2 .u2 A:hover {
	COLOR: #ff9300; TEXT-DECORATION: none
}
.gfb2 .u2 A:active {
	COLOR: #ff9300; TEXT-DECORATION: none
}
.gfb2 .u2 A.active {
	COLOR: #ff9300; TEXT-DECORATION: none
}
.gfb3 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: right; PADDING-TOP: 10px
}
.gfb3 .u1 {
	WIDTH: 45px; FLOAT: left; HEIGHT: 125px
}
.gfb3 .u1 LI {
	TEXT-ALIGN: center; MARGIN: 0px 5px; WIDTH: 22px; FLOAT: left; HEIGHT: 125px; COLOR: #ff9933; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.gfb3 .u2 {
	WIDTH: 415px; FLOAT: left; HEIGHT: 125px; COLOR: #666
}
.gfb3 .u2 LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 25px; WIDTH: 410px; FLOAT: left; HEIGHT: 25px; COLOR: #666; OVERFLOW: hidden
}
.gfb3 .u2 A {
	OUTLINE-STYLE: none; CURSOR: pointer
}
.gfb3 .u2 A:link {
	COLOR: #666
}
.gfb3 .u2 A:visited {
	COLOR: #666
}
.gfb3 .u2 A:hover {
	COLOR: #ff9300; TEXT-DECORATION: none
}
.gfb3 .u2 A:active {
	COLOR: #ff9300; TEXT-DECORATION: none
}
.gfb3 .u2 A.active {
	COLOR: #ff9300; TEXT-DECORATION: none
}
.gfb4 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: left; PADDING-TOP: 10px
}
.gfb4 .u1 {
	WIDTH: 45px; FLOAT: left; HEIGHT: 125px
}
.gfb4 .u1 LI {
	TEXT-ALIGN: center; MARGIN: 0px 5px; WIDTH: 22px; FLOAT: left; HEIGHT: 125px; COLOR: #ff9933; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.gfb4 .u2 {
	WIDTH: 410px; FLOAT: left; HEIGHT: 125px; COLOR: #666
}
.gfb4 .u2 LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 25px; WIDTH: 410px; FLOAT: left; HEIGHT: 25px; COLOR: #666; OVERFLOW: hidden
}
.gfb4 .u2 A {
	OUTLINE-STYLE: none; CURSOR: pointer
}
.gfb4 .u2 A:link {
	COLOR: #666
}
.gfb4 .u2 A:visited {
	COLOR: #666
}
.gfb4 .u2 A:hover {
	COLOR: #ff9300; TEXT-DECORATION: none
}
.gfb4 .u2 A:active {
	COLOR: #ff9300; TEXT-DECORATION: none
}
.gfb4 .u2 A.active {
	COLOR: #ff9300; TEXT-DECORATION: none
}
.gfb5 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: right; PADDING-TOP: 10px
}
.gfb5 .u1 {
	WIDTH: 45px; FLOAT: left; HEIGHT: 120px
}
.gfb5 .u1 LI {
	TEXT-ALIGN: center; MARGIN: 0px 5px; WIDTH: 22px; FLOAT: left; HEIGHT: 120px; COLOR: #ff9933; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.gfb6 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: left; PADDING-TOP: 10px
}
.gfb6 .u1 {
	WIDTH: 45px; FLOAT: left; HEIGHT: 120px
}
.gfb6 .u1 LI {
	TEXT-ALIGN: center; MARGIN: 0px 5px; WIDTH: 22px; FLOAT: left; HEIGHT: 120px; COLOR: #ff9933; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.gfb7 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FLOAT: left; PADDING-TOP: 5px
}
.gfb7 .l1 {
	WIDTH: 468px; FLOAT: left; HEIGHT: 60px; OVERFLOW: hidden
}
.gfb7 .l1 IMG {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 468px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 60px; BORDER-LEFT-WIDTH: 0px
}
UL.ranklist {
	WIDTH: 412px; FLOAT: left; HEIGHT: 120px
}
UL.ranklist LI.current {
	WIDTH: 390px; HEIGHT: 60px
}
UL.ranklist LI {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 390px; PADDING-RIGHT: 5px; OVERFLOW: hidden; CURSOR: pointer; PADDING-TOP: 0px; _margin: 4px 0
}
UL.ranklist LI.current DIV.pic {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 50px; PADDING-RIGHT: 5px; DISPLAY: block; FLOAT: left; HEIGHT: 50px; MARGIN-RIGHT: 10px; PADDING-TOP: 5px
}
UL.ranklist LI.current DIV.pic IMG {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 50px; DISPLAY: block; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 50px; OVERFLOW: hidden; BORDER-LEFT-WIDTH: 0px
}
UL.ranklist LI DIV.pic {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 50px; PADDING-RIGHT: 5px; DISPLAY: none; FLOAT: left; HEIGHT: 50px; MARGIN-RIGHT: 10px; PADDING-TOP: 5px
}
UL.ranklist LI DIV.pic IMG {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 50px; DISPLAY: none; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 50px; OVERFLOW: hidden; BORDER-LEFT-WIDTH: 0px
}
UL.ranklist LI.current DIV.content {
	MARGIN: 5px 0px; WIDTH: 320px; FLOAT: left; HEIGHT: 50px
}
UL.ranklist LI DIV.content {
	LINE-HEIGHT: 30px; WIDTH: 390px; FLOAT: left; HEIGHT: 30px; OVERFLOW: hidden
}
UL.ranklist LI.current SPAN.s1 {
	LINE-HEIGHT: 25px; WIDTH: 320px; FLOAT: left; HEIGHT: 25px; OVERFLOW: hidden
}
UL.ranklist LI.current SPAN.s2 {
	LINE-HEIGHT: 25px; WIDTH: 320px; FLOAT: left; HEIGHT: 25px; OVERFLOW: hidden
}
UL.ranklist LI.current SPAN.s3 {
	COLOR: #f90
}
UL.ranklist LI SPAN.s1 {
	LINE-HEIGHT: 30px; WIDTH: 390px; FLOAT: left; HEIGHT: 30px; OVERFLOW: hidden
}
UL.ranklist LI SPAN.s2 {
	LINE-HEIGHT: 30px; WIDTH: 390px; FLOAT: left; HEIGHT: 30px; OVERFLOW: hidden
}
UL.ranklist LI SPAN.s3 {
	COLOR: #f90
}
UL.ranklist A {
	OUTLINE-STYLE: none; CURSOR: pointer
}
UL.ranklist A:link {
	COLOR: #666
}
UL.ranklist A:visited {
	COLOR: #666
}
UL.ranklist A:hover {
	COLOR: #ff9300; TEXT-DECORATION: none
}
UL.ranklist A:active {
	COLOR: #ff9300; TEXT-DECORATION: none
}
UL.ranklist A.active {
	COLOR: #ff9300; TEXT-DECORATION: none
}
.gftad {
	
}
.gftad IMG {
	BORDER-BOTTOM: #e3e3e3 0px solid; BORDER-LEFT: #e3e3e3 0px solid; WIDTH: 190px; HEIGHT: 105px; BORDER-TOP: #e3e3e3 0px solid; BORDER-RIGHT: #e3e3e3 0px solid
}
