.usl {
	PADDING-BOTTOM: 5px; OVERFLOW-X: hidden; PADDING-LEFT: 5px; WIDTH: 580px; PADDING-RIGHT: 5px; HEIGHT: 280px; OVERFLOW: scroll; PADDING-TOP: 5px
}
.usl2 {
	BORDER-BOTTOM: #ccc 1px dashed; BORDER-LEFT: #ccc 1px dashed; WIDTH: auto; BORDER-TOP: #ccc 0px dashed; BORDER-RIGHT: #ccc 1px dashed
}
.usl LI {
	MARGIN: 3px; WIDTH: 134px; FLOAT: left; HEIGHT: 64px; OVERFLOW: hidden
}
.usl A {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; DISPLAY: block; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid; PADDING-TOP: 4px
}
.usl A:hover {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #ddd 1px solid; BACKGROUND: #f2f2f2; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #999 1px solid; TEXT-DECORATION: none
}
.usl .avt {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 52px; ZOOM: 1; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 2px 2px; FLOAT: left; HEIGHT: 52px; BORDER-TOP: #e3e3e3 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #e3e3e3 1px solid
}
.usl .d {
	WIDTH: 65px; WORD-WRAP: break-word; FLOAT: left; HEIGHT: 54px; OVERFLOW: hidden
}
.usl LI.a A {
	BORDER-BOTTOM-COLOR: #f90; BACKGROUND-COLOR: #fff1e1; BORDER-TOP-COLOR: #f90; BORDER-RIGHT-COLOR: #f90; BORDER-LEFT-COLOR: #f90
}
.usl LI.a A:hover {
	BORDER-BOTTOM-COLOR: #f90; BACKGROUND-COLOR: #fff1e1; BORDER-TOP-COLOR: #f90; BORDER-RIGHT-COLOR: #f90; BORDER-LEFT-COLOR: #f90
}
.usl LI.a .avt SPAN {
	WIDTH: 50px; DISPLAY: block; BACKGROUND: url(http://image.gfan.com/static/image/gfan/mark.png) no-repeat left bottom; HEIGHT: 50px; MARGIN-LEFT: 2px
}
.usd {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 0px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #f2f2f2; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 0px solid; PADDING-TOP: 5px
}
.usd2 {
	BORDER-BOTTOM: 1px dashed; BORDER-LEFT: 1px dashed; BORDER-TOP: 1px dashed; BORDER-RIGHT: 1px dashed
}
.usd LI {
	WIDTH: 48%; FLOAT: left; MARGIN-RIGHT: 1%
}
.e {
	OVERFLOW: hidden
}
.e .i {
	BORDER-BOTTOM: #e3e3e3 1px dashed; PADDING-BOTTOM: 6px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #f7f7f7; PADDING-TOP: 6px
}
.el .i {
	BORDER-BOTTOM: #e3e3e3 1px dashed; PADDING-BOTTOM: 6px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #f7f7f7; PADDING-TOP: 6px
}
.el {
	
}
.et {
	MARGIN: 20px 0px 10px
}
.el LI {
	BORDER-BOTTOM: #e3e3e3 1px dashed; PADDING-BOTTOM: 10px; MIN-HEIGHT: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 10px
}
.ie6 .el {
	ZOOM: 1
}
.ie6 .el LI {
	ZOOM: 1
}
.el .t {
	POSITION: absolute; MARGIN: 1px 0px 0px -20px
}
.el .o {
	TEXT-INDENT: 20px; MARGIN: 4px -20px -4px 0px; WIDTH: 16px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/op.png) no-repeat -2px -62px; FLOAT: right; HEIGHT: 16px; OVERFLOW: hidden
}
.ie6 .el .o {
	POSITION: absolute; MARGIN: 2px 0px 0px 525px
}
.el .del {
	BACKGROUND-POSITION: -2px -22px
}
.el .d {
	COLOR: #666; PADDING-TOP: 10px
}
.ec .tn {
	MARGIN: 10px 10px 0px 0px; CURSOR: pointer
}
.ec A .tn {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; MAX-WIDTH: 90px; FLOAT: left; MAX-HEIGHT: 90px; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid; PADDING-TOP: 2px
}
.ie6 .ec A .tn {
	; WIDTH: expression(this.width > 90 && this.width >= this.height ? 90:true); ; HEIGHT: expression(this.height > 90 && this.width <= this.height ? 90:true)
}
.el .ec .hot {
	MARGIN: 10px 0px 0px 10px; WIDTH: 55px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/hotspot.gif) no-repeat; FLOAT: right; HEIGHT: 50px
}
.el .ec .hot A {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; DISPLAY: block; COLOR: #fff
}
.el .ec .hot A:hover {
	TEXT-DECORATION: none
}
.el .ec .hot EM {
	LINE-HEIGHT: 30px; DISPLAY: block; COLOR: #369; FONT-SIZE: 16px; CURSOR: pointer
}
.el A {
	COLOR: #369
}
.xlda .el {
	MARGIN-TOP: -4px; WIDTH: 100%; FLOAT: left; OVERFLOW: hidden
}
.xlda .el LI {
	MARGIN-BOTTOM: -4px; PADDING-TOP: 14px
}
.ie6 .xlda .el .o {
	MARGIN: 2px 0px 0px 460px
}
#share_preview .h {
	DISPLAY: none
}
.pbg {
	BACKGROUND: url(http://image.gfan.com/static/image/gfan/pllb.png) repeat-x 0px 0px; HEIGHT: 16px; -moz-border-radius: 0 6px 6px 0; -webkit-border-radius: 0 6px 6px 0; border-radius: 0 6px 6px 0
}
.pbr {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/pllb.png); BACKGROUND-COLOR: #5aaf4a; WIDTH: 470px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -16px; HEIGHT: 16px; -moz-border-radius: 0 6px 6px 0; -webkit-border-radius: 0 6px 6px 0; border-radius: 0 6px 6px 0
}
.md_ctrl A:hover {
	TEXT-DECORATION: none
}
.quote {
	MARGIN: 10px 0px; PADDING-LEFT: 16px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/qa.gif) no-repeat 0px 0px; COLOR: #666; OVERFLOW: hidden
}
.quote BLOCKQUOTE {
	MARGIN: 0px; PADDING-RIGHT: 16px; DISPLAY: inline; BACKGROUND: url(http://image.gfan.com/static/image/gfan/qz.gif) no-repeat 100% 100%
}
.m_c .quote {
	WIDTH: 585px
}
.blockcode {
	PADDING-BOTTOM: 5px; MARGIN: 10px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #f7f7f7; COLOR: #666; OVERFLOW: hidden; PADDING-TOP: 5px
}
.blockcode CODE {
	LINE-HEIGHT: 1.8em; FONT-FAMILY: Monaco,Consolas,'Lucida Console','Courier New',serif; FONT-SIZE: 12px
}
* HTML .blockcode CODE {
	FONT-FAMILY: 'Courier New',serif
}
.ct2_a .mn {
	FLOAT: left
}
.appl {
	BORDER-BOTTOM-STYLE: none; BACKGROUND-COLOR: transparent; MARGIN-TOP: 8px; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; FLOAT: right; BORDER-RIGHT-STYLE: none
}
.upf {
	WIDTH: 500px
}
* + HTML .upf {
	WIDTH: 520px
}
.upnf {
	WHITE-SPACE: normal
}
.upbk {
	ZOOM: 1
}
.fldt {
	MARGIN-BOTTOM: 8px
}
.p_pop .flb {
	POSITION: absolute; RIGHT: 10px; TOP: 13px
}
.fnm {
	WIDTH: 130px !important
}
.fszm {
	LINE-HEIGHT: normal; WIDTH: 55px !important
}
.fnm LI {
	CURSOR: pointer
}
.fszm LI {
	CURSOR: pointer
}
.simm LI {
	CURSOR: pointer
}
.qsv {
	PADDING-LEFT: 16px; WIDTH: 16px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/repquote.gif) no-repeat 50% 50%; HEIGHT: 16px; CURSOR: pointer
}
.marked {
	PADDING-RIGHT: 16px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/mark.png) no-repeat 100% 50%
}
#taglistarea A {
	ZOOM: 1; WHITE-SPACE: nowrap
}
#taglistarea .marked {
	PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #f26c4f !important; FONT-WEIGHT: 700
}
.p_tbl {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 160%; HEIGHT: auto
}
.p_tbl TABLE {
	TABLE-LAYOUT: fixed
}
.p_tbl TABLE TD {
	BORDER-BOTTOM: #f2f2f2 1px solid; LINE-HEIGHT: 28px; HEIGHT: 28px
}
.atnu {
	WIDTH: 16px
}
.atna {
	
}
.atna P IMG {
	HEIGHT: 16px; VERTICAL-ALIGN: middle
}
.attswf P IMG {
	HEIGHT: 16px; VERTICAL-ALIGN: middle
}
.atna .lighttxt {
	COLOR: #666 !important
}
.attswf .lighttxt {
	COLOR: #666 !important
}
.attpr {
	TEXT-ALIGN: center; WIDTH: 40px
}
.attv .px {
	WIDTH: 25px
}
.attp .px {
	WIDTH: 25px
}
.attv {
	WIDTH: 100px
}
.atturl IMG {
	HEIGHT: 20px !important
}
.attc {
	WIDTH: 20px
}
* + HTML .attc {
	WIDTH: 40px
}
.atds {
	TEXT-ALIGN: center; WIDTH: 80px
}
.atds .px {
	WIDTH: 60px
}
.attp {
	TEXT-ALIGN: center; WIDTH: 40px
}
.attach_preview {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid; box-shadow: 0 0 5px rgba(96,96,96,0.3)
}
.ie8 .attach_preview {
	RIGHT: 18px; TOP: 57px
}
.ie9 .attach_preview {
	RIGHT: 18px; TOP: 57px
}
#newspecial_menu {
	WIDTH: 90px
}
#newspecial_menu LI {
	ZOOM: 1; DISPLAY: block; BACKGROUND: url(http://image.gfan.com/static/image/gfan/folder_new.gif) no-repeat 8px 50%
}
#sti .wx {
	ZOOM: 1; DISPLAY: block; BACKGROUND: url(http://image.gfan.com/static/image/gfan/folder_new.gif) no-repeat 8px 50%
}
#newspecial_menu .poll {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/pollsmall.gif)
}
#sti .poll {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/pollsmall.gif)
}
#newspecial_menu .trade {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/tradesmall.gif)
}
#sti .trade {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/tradesmall.gif)
}
#newspecial_menu .reward {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/rewardsmall.gif)
}
#sti .reward {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/rewardsmall.gif)
}
#newspecial_menu .activity {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/activitysmall.gif)
}
#sti .activity {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/activitysmall.gif)
}
#newspecial_menu .debate {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/debatesmall.gif)
}
#sti .debate {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/debatesmall.gif)
}
#newspecial_menu A {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px; DISPLAY: block; WHITE-SPACE: normal; PADDING-TOP: 3px
}
#newspecial_menu A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #369; TEXT-DECORATION: underline; text-shadow: none
}
#sti {
	
}
#sti .wx {
	PADDING-LEFT: 25px; BACKGROUND-POSITION: 0px 50%
}
#sti .tb {
	MARGIN-TOP: 0px
}
#f_pst .bm_c {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
#f_pst .tedt {
	WIDTH: auto
}
.hasfsl {
	ZOOM: 1; MARGIN-RIGHT: 170px
}
#f_pst .upfl {
	HEIGHT: auto; MAX-HEIGHT: 100%
}
#f_pst .upfl TD {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 4px
}
#f_pst .atds {
	WIDTH: 100px
}
#f_pst .px {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.mobile-type {
	POSITION: absolute; MARGIN: -5px 0px -85px 103px; WIDTH: 58px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/mobile-type.png) no-repeat 100% 100%; HEIGHT: 80px
}
.ie6 .mobile-type {
	MARGIN-LEFT: 88px
}
.ie7 .mobile-type {
	MARGIN-LEFT: 88px
}
.mobile-type A {
	WIDTH: 46px; DISPLAY: block; BACKGROUND: url(http://image.gfan.com/static/image/gfan/mobile-type.png) no-repeat 0px 0px; HEIGHT: 80px
}
.mobile-type-2 A {
	BACKGROUND-POSITION: 0px -80px
}
.mobile-type-3 A {
	BACKGROUND-POSITION: 0px -160px
}
.mobile-type-4 A {
	BACKGROUND-POSITION: 0px -240px
}
.ie6 .mobile-type {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/mobile-type-ie6.png)
}
.ie6 .mobile-type A {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/mobile-type-ie6.png)
}
.mobile-location {
	PADDING-LEFT: 20px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/mobile-attach-2.png) no-repeat 0px 0px
}
#fjump_menu {
	OVERFLOW-X: hidden; MAX-HEIGHT: 600px
}
#fjump_menu DL {
	WIDTH: 200px
}
#fjump_menu DT {
	FONT-WEIGHT: 700
}
#fjump_menu DD {
	TEXT-INDENT: 1em
}
#fjump_menu LI.a A {
	BACKGROUND-COLOR: #e5edf2
}
.fct A {
	FLOAT: left; MARGIN-LEFT: 8px
}
.fa_fav_0 {
	PADDING-LEFT: 20px; BACKGROUND: no-repeat 0px 50%
}
.fa_fav {
	PADDING-LEFT: 20px; BACKGROUND: no-repeat 0px 50%
}
.fa_rss {
	PADDING-LEFT: 20px; BACKGROUND: no-repeat 0px 50%
}
.fa_achv {
	PADDING-LEFT: 20px; BACKGROUND: no-repeat 0px 50%
}
.fa_bin {
	PADDING-LEFT: 20px; BACKGROUND: no-repeat 0px 50%
}
.fa_ivt {
	PADDING-LEFT: 20px; BACKGROUND: no-repeat 0px 50%
}
.fa_fav_0 {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/fav_grey.gif)
}
.fa_fav {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/fav.gif)
}
.fa_rss {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/feed.gif)
}
.fa_achv {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/clock.gif)
}
.fa_bin {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/recyclebin.gif)
}
.fa_ivt {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/user_add.gif)
}
#fh {
	WIDTH: 644px
}
.mw #fh {
	WIDTH: 100%
}
#fh .bm {
	PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
#nv_group #fh {
	MARGIN-BOTTOM: 1em
}
#fh #gh {
	PADDING-TOP: 10px
}
#fh .h {
	MARGIN-TOP: 10px
}
#fh .h * {
	FLOAT: left
}
#fh H1 {
	FONT-SIZE: 16px; MARGIN-RIGHT: 10px
}
#fh .h .y {
	FLOAT: right
}
#fh .o A {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.m#fh {
	BACKGROUND-COLOR: #f2f2f2; PADDING-TOP: 0px
}
.xst {
	FONT-FAMILY: Tahoma,Helvetica,'SimSun',sans-serif; FONT-SIZE: 14px
}
.xst I {
	FONT-STYLE: italic
}
.ttp {
	BORDER-RIGHT-WIDTH: 0px; MARGIN-BOTTOM: 5px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 10px
}
.ttp LI {
	PADDING-BOTTOM: 5px; FLOAT: left
}
.ttp A {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; WHITE-SPACE: nowrap; BACKGROUND: #ffffff; FLOAT: left; HEIGHT: 18px; BORDER-TOP: #e3e3e3 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #e3e3e3 1px solid; PADDING-TOP: 4px
}
.ttp STRONG {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; WHITE-SPACE: nowrap; BACKGROUND: #ffffff; FLOAT: left; HEIGHT: 18px; BORDER-TOP: #e3e3e3 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #e3e3e3 1px solid; PADDING-TOP: 4px
}
.ttp A:hover {
	BORDER-BOTTOM-COLOR: #369; BORDER-TOP-COLOR: #369; COLOR: #369; BORDER-RIGHT-COLOR: #369; BORDER-LEFT-COLOR: #369; TEXT-DECORATION: none
}
.ttp .a A {
	BORDER-BOTTOM-COLOR: #369; BORDER-TOP-COLOR: #369; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; BACKGROUND: #e5edf2; COLOR: #369; BORDER-RIGHT-COLOR: #369; BORDER-LEFT-COLOR: #369
}
.ttp .pipe {
	PADDING-BOTTOM: 0px; TEXT-INDENT: -9999px; PADDING-LEFT: 0px; WIDTH: 2px; PADDING-RIGHT: 0px; BACKGROUND: #e3e3e3; FLOAT: left; HEIGHT: 27px; MARGIN-RIGHT: 10px; PADDING-TOP: 0px
}
.cttp {
	PADDING-RIGHT: 35px; HEIGHT: 32px; OVERFLOW: hidden
}
.cttp .unfold {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: transparent; MARGIN: 5px -35px 9px 0px; PADDING-LEFT: 10px; WIDTH: 25px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: right; HEIGHT: 18px; COLOR: #369; FONT-WEIGHT: 400; PADDING-TOP: 0px
}
.cttp .fold {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: transparent; MARGIN: 5px -35px 9px 0px; PADDING-LEFT: 10px; WIDTH: 25px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: right; HEIGHT: 18px; COLOR: #369; FONT-WEIGHT: 400; PADDING-TOP: 0px
}
.tl .bm_c {
	PADDING-TOP: 0px
}
.tl TABLE {
	WIDTH: 100%; BORDER-COLLAPSE: separate; TABLE-LAYOUT: fixed
}
.tl TH {
	BORDER-BOTTOM: #c2d5e3 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.tl TD {
	BORDER-BOTTOM: #c2d5e3 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.emptb TH {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.emptb TD {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.tl TR:hover TH {
	BACKGROUND-COLOR: #f2f2f2
}
.tl TR:hover TD {
	BACKGROUND-COLOR: #f2f2f2
}
.tl TH {
	PADDING-RIGHT: 1.5em; ZOOM: 1
}
.tl TH A:visited {
	COLOR: #666
}
.fromg {
	VISIBILITY: hidden
}
.ie6 .fromg {
	VISIBILITY: visible
}
TR:hover .fromg {
	VISIBILITY: visible
}
.tl .icn {
	TEXT-ALIGN: left; PADDING-LEFT: 5px; WIDTH: 25px
}
.tl .icn A:hover {
	TEXT-DECORATION: none
}
.tl .new {
	
}
.tl .new .xi1 {
	COLOR: #ff0000
}
.tl .comm {
	
}
.tl .frm {
	WIDTH: 150px
}
.tl .o {
	WIDTH: 20px
}
.tl .num {
	LINE-HEIGHT: 14px; WIDTH: 60px
}
.tl .by {
	LINE-HEIGHT: 14px; WIDTH: 105px
}
.tl CITE {
	DISPLAY: block
}
.tl .num EM {
	DISPLAY: block
}
.tl TH EM {
	ZOOM: 1; MARGIN-RIGHT: 4px
}
.tl TH EM {
	COLOR: #007cd5
}
.tl TH EM A {
	COLOR: #007cd5
}
.tl TD EM {
	FONT-FAMILY: Arial,Psimsun,sans-serif; FONT-SIZE: 11px; -webkit-text-size-adjust: none
}
.tl TD EM {
	COLOR: #999
}
.tl TD EM A {
	COLOR: #999
}
.tl .ts TH {
	BORDER-BOTTOM-COLOR: #e3e3e3; PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #f2f2f2; PADDING-TOP: 3px
}
.tl .ts TD {
	BORDER-BOTTOM-COLOR: #e3e3e3; PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #f2f2f2; PADDING-TOP: 3px
}
.tl .th {
	BORDER-BOTTOM: #e3e3e3 1px solid; PADDING-BOTTOM: 0px; MARGIN-TOP: 1px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #f2f2f2; PADDING-TOP: 0px
}
.tl .th TABLE {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none
}
.tl .th TD {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; HEIGHT: 20px; BORDER-RIGHT-STYLE: none; VERTICAL-ALIGN: baseline
}
.tl .th TH {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; HEIGHT: 20px; BORDER-RIGHT-STYLE: none; VERTICAL-ALIGN: baseline
}
.tl .tf {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 3px
}
.tf .showmenu:hover {
	BORDER-BOTTOM-COLOR: #e3e3e3; BORDER-TOP-COLOR: #e3e3e3; BORDER-RIGHT-COLOR: #e3e3e3; BORDER-LEFT-COLOR: #e3e3e3
}
.tl_reply {
	PADDING-LEFT: 10px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/dot.gif) no-repeat 0px 7px
}
.recy {
	TEXT-DECORATION: line-through
}
.tps {
	WHITE-SPACE: nowrap
}
.tps A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #444; PADDING-TOP: 2px
}
.tps A:hover {
	BACKGROUND-COLOR: #f2f2f2; COLOR: #007cd5
}
.tsm {
	WIDTH: 100%; BORDER-COLLAPSE: collapse !important; MARGIN-BOTTOM: -10px; OVERFLOW: hidden
}
.ie6 .tsm {
	MARGIN-BOTTOM: 0px
}
.ie7 .tsm {
	MARGIN-BOTTOM: 0px
}
.tsm TH {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 5px; BORDER-LEFT-STYLE: none; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
.tsm TD {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 5px; BORDER-LEFT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
.tsm TR:hover TH {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.tsm TR:hover TD {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.tsm LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; WHITE-SPACE: nowrap; FLOAT: left; MARGIN-RIGHT: 4px; PADDING-TOP: 0px
}
.tsm .a A {
	COLOR: #444; FONT-WEIGHT: 700
}
.tsm .a A:hover {
	TEXT-DECORATION: none
}
.subtsm {
	BORDER-BOTTOM: #e3e3e3 1px dotted; BORDER-LEFT: #e3e3e3 1px dotted; PADDING-BOTTOM: 5px; MARGIN-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #e3e3e3 1px dotted; BORDER-RIGHT: #e3e3e3 1px dotted; PADDING-TOP: 5px
}
.mfm .mtm {
	MARGIN-RIGHT: 10px
}
.mfm SPAN {
	HEIGHT: 26px
}
.plh {
	LINE-HEIGHT: 46px
}
.plh .plc {
	PADDING-BOTTOM: 0px
}
.vwthd {
	PADDING-RIGHT: 80px !important
}
.vwthd DIV.y {
	DISPLAY: inline; MARGIN-RIGHT: -60px
}
.ts {
	DISPLAY: inline; FONT: 700 16px 'Microsoft Yahei','Hei',Tahoma,'SimHei',sans-serif
}
#nv_forum #ct {
	BORDER-BOTTOM-COLOR: #e3e3e3; BORDER-TOP-COLOR: #e3e3e3; BORDER-RIGHT-COLOR: #e3e3e3; BORDER-LEFT-COLOR: #e3e3e3
}
.pattl_c .tip {
	PADDING-BOTTOM: 5px; MARGIN-TOP: 30px; PADDING-LEFT: 5px; WIDTH: 88px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.pattimg {
	MARGIN: 0px 10px 10px 0px; WIDTH: 100px; FLOAT: left; HEIGHT: 100px; OVERFLOW: hidden
}
.pattimg_zoom {
	POSITION: absolute; LINE-HEIGHT: 300px; WIDTH: 100px; DISPLAY: block; HEIGHT: 100px; OVERFLOW: hidden
}
.ie_all .pattimg_zoom {
	FILTER: alpha(opacity=0); BACKGROUND-COLOR: #fff
}
.attl_g {
	PADDING-LEFT: 16px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/attl_icon.png) no-repeat 0px 3px; MARGIN-LEFT: 10px
}
.attl_m {
	PADDING-LEFT: 16px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/attl_icon.png) no-repeat 0px 3px; MARGIN-LEFT: 10px
}
.attl_m {
	BACKGROUND-POSITION: -100px 3px
}
.ie6 .cgtl {
	WIDTH: auto
}
.cgtl {
	OVERFLOW: hidden
}
.cgtl TD {
	BORDER-BOTTOM: #e3e3e3 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.cgtl TH {
	BORDER-BOTTOM: #e3e3e3 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.cgtl CAPTION {
	BORDER-BOTTOM: #e3e3e3 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.cgtl CAPTION {
	BACKGROUND: #e5edf2; FONT-SIZE: 14px; BORDER-TOP: #e3e3e3 1px solid; FONT-WEIGHT: 700
}
.cgtl TH {
	WIDTH: 16%
}
.cp_pls A {
	LINE-HEIGHT: 1.231; FLOAT: left; MARGIN-RIGHT: 4px
}
#a_magic_doodle {
	PADDING-LEFT: 20px; BACKGROUND: url(http://image.gfan.com/static/image/magic/doodle.small.gif) no-repeat 0px 50%
}
.pl {
	BACKGROUND-COLOR: #fff
}
.pl TABLE {
	WIDTH: 100%; TABLE-LAYOUT: fixed
}
.pl .dt {
	WIDTH: 100%
}
.plm {
	VERTICAL-ALIGN: bottom !important
}
.plc {
	VERTICAL-ALIGN: top; OVERFLOW: hidden
}
.pls {
	VERTICAL-ALIGN: top; OVERFLOW: hidden
}
.plc {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 0px
}
.pls {
	WIDTH: 160px; BACKGROUND: #fff; OVERFLOW: hidden; BORDER-RIGHT: #e5e5e5 1px solid
}
.pls .avatar {
	MARGIN: 10px 15px
}
.pls .avatar IMG {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 120px; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 5px
}
.pls P {
	MARGIN: 5px 10px 5px 20px
}
.pls .pil {
	MARGIN: 5px 10px 5px 20px
}
.pls .o {
	MARGIN: 5px 10px 5px 20px
}
.pls P EM {
	COLOR: #f26c4f
}
.pls DT EM {
	COLOR: #f26c4f
}
.pls DD {
	LINE-HEIGHT: 1.6em; FLOAT: left; HEIGHT: 1.6em; OVERFLOW: hidden
}
.pls DT {
	LINE-HEIGHT: 1.6em; FLOAT: left; HEIGHT: 1.6em; OVERFLOW: hidden
}
.pls DT {
	WIDTH: 55px; MARGIN-RIGHT: 3px
}
.pls DD {
	WIDTH: 70px
}
.pls DD IMG {
	MARGIN-TOP: -2px; MAX-WIDTH: 65px
}
.ie6 .pls DD IMG {
	MARGIN-TOP: 2px; ; WIDTH: expression(this.width > 65 ? 65:true)
}
.ie7 .pls DD IMG {
	MARGIN-TOP: 2px; ; WIDTH: expression(this.width > 65 ? 65:true)
}
.ad .pls {
	BORDER-BOTTOM: #d4d4d4 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #eaeaea; HEIGHT: 5px; BORDER-TOP: #d4d4d4 1px solid; PADDING-TOP: 0px
}
.ad .plc {
	BORDER-BOTTOM: #d4d4d4 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #eaeaea; OVERFLOW: hidden; BORDER-TOP: #d4d4d4 1px solid; PADDING-TOP: 0px
}
.pl .pnv .pls {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 0px solid; LINE-HEIGHT: 16px; BACKGROUND: #e5edf2; BORDER-TOP: #e3e3e3 0px solid; BORDER-RIGHT: #e3e3e3 1px solid
}
.pl .pnv .tns P {
	FONT-SIZE: 12px
}
.pl .pnv .plc {
	BORDER-BOTTOM: #e5e5e5 1px solid
}
.pnh {
	PADDING-BOTTOM: 11px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 11px
}
.tnv {
	TEXT-ALIGN: center; VERTICAL-ALIGN: middle
}
#threadstamp {
	POSITION: relative; WIDTH: 100%; HEIGHT: 0px; OVERFLOW: visible
}
#threadstamp IMG {
	POSITION: absolute; RIGHT: 170px; TOP: -20px
}
#pl_top .ad .pls {
	HEIGHT: 1px; OVERFLOW: hidden
}
#pl_top .ad .plc {
	HEIGHT: 1px; OVERFLOW: hidden
}
#pl_top .pls {
	TEXT-INDENT: 15px
}
.pi {
	BORDER-BOTTOM: #e3e3e3 1px dashed; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 10px; HEIGHT: 16px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.pi STRONG A {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 4px; MARGIN-TOP: -6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; FLOAT: right; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: 400; BORDER-RIGHT: #ffffff 1px solid; PADDING-TOP: 4px
}
.pi STRONG A:hover {
	BORDER-BOTTOM-COLOR: #e3e3e3; BORDER-TOP-COLOR: #e3e3e3; BORDER-RIGHT-COLOR: #e3e3e3; BORDER-LEFT-COLOR: #e3e3e3
}
.pls .pi {
	PADDING-LEFT: 15px
}
.pi EM {
	
}
.pti {
	
}
.authicn {
	CURSOR: pointer
}
.pcb {
	CLEAR: left; MARGIN-RIGHT: 130px
}
.ie6 .pcbs TABLE {
	WIDTH: auto
}
.ie6 .t_fsz TABLE {
	WIDTH: auto
}
.pcb H1 {
	MARGIN: 8px 0px; FONT-SIZE: 1.17em
}
.pcb H2 {
	MARGIN: 8px 0px; FONT-SIZE: 1.17em
}
.pcb H1 A {
	FONT-WEIGHT: 400
}
.pcb H2 EM {
	FLOAT: right; FONT-SIZE: 12px; FONT-WEIGHT: 400
}
#ph {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 17px
}
#ph H1 {
	FONT-SIZE: 20px
}
#fj {
	MARGIN-LEFT: 5px
}
#fj LABEL {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 16px; MARGIN-RIGHT: 4px; PADDING-TOP: 0px
}
#fj INPUT {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 16px; MARGIN-RIGHT: 4px; PADDING-TOP: 0px
}
.pcb .jammer {
	COLOR: #ffffff; FONT-SIZE: 10px
}
.pcb STRONG {
	FONT-WEIGHT: 700
}
.pcb EM {
	COLOR: #666
}
.pcb SPAN.t_tag {
	BORDER-BOTTOM: red 1px solid; WHITE-SPACE: nowrap; CURSOR: pointer
}
.pcb SPAN.t_tag:hover {
	BORDER-BOTTOM: #f26c4f 1px solid
}
.pct {
	PADDING-BOTTOM: 1em
}
.t_fsz {
	MIN-HEIGHT: 100px
}
* HTML .t_fsz {
	HEIGHT: 100px; OVERFLOW: visible
}
.t_f {
	FONT-SIZE: 14px
}
.t_f TD {
	FONT-SIZE: 14px
}
.t_f A {
	COLOR: #369; TEXT-DECORATION: underline
}
.t_f UL {
	MARGIN-LEFT: 14px
}
.t_f LI {
	MARGIN-LEFT: 2em
}
.t_f UL LI {
	LIST-STYLE-TYPE: disc
}
UL.litype_1 LI {
	LIST-STYLE-TYPE: decimal
}
UL.litype_2 LI {
	LIST-STYLE-TYPE: lower-alpha
}
UL.litype_3 LI {
	LIST-STYLE-TYPE: upper-alpha
}
.t_f I {
	FONT-STYLE: italic
}
.sign {
	LINE-HEIGHT: 1.6em; MARGIN-BOTTOM: 10px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/sigline.gif) no-repeat 0px 0px; OVERFLOW: hidden; PADDING-TOP: 20px
}
* HTML .sign {
	; HEIGHT: expression(signature(this))
}
.sign * {
	LINE-HEIGHT: normal
}
.po {
	BORDER-TOP: #e3e3e3 1px dashed
}
.po .y {
	MARGIN: 8px 0px 0px 5px
}
.po P {
	FLOAT: right
}
.po P A {
	MARGIN-RIGHT: 6px
}
.po P LABEL {
	MARGIN-RIGHT: 6px
}
.pob {
	LINE-HEIGHT: 36px
}
.pob EM {
	FLOAT: left
}
.pob EM A {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 25px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.cmmnt {
	BACKGROUND: url(http://image.gfan.com/static/image/gfan/cmmnt.gif) no-repeat 0px 50%
}
.fastre {
	BACKGROUND: url(http://image.gfan.com/static/image/gfan/fastreply.gif) no-repeat 0px 50%
}
.req {
	BACKGROUND: url(http://image.gfan.com/static/image/gfan/repquote.gif) no-repeat 0px 50%
}
.editp {
	BACKGROUND: url(http://image.gfan.com/static/image/gfan/edit.gif) no-repeat 4px 50%
}
.appendp {
	BACKGROUND: url(http://image.gfan.com/static/image/gfan/icon_append.png) no-repeat 4px 50%
}
.psave {
	BACKGROUND: url(http://image.gfan.com/static/image/gfan/pubsave.gif) no-repeat 4px 50%
}
.push {
	BACKGROUND: url(http://image.gfan.com/static/image/gfan/push.png) no-repeat 4px 50%
}
.modact {
	TEXT-ALIGN: center; DISPLAY: block; HEIGHT: 32px
}
.modact {
	LINE-HEIGHT: 32px !important
}
.modact A {
	LINE-HEIGHT: 32px !important
}
#p_btn {
	LINE-HEIGHT: 37px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#p_btn A {
	PADDING-LEFT: 8px; PADDING-RIGHT: 4px; WHITE-SPACE: nowrap; BACKGROUND: url(http://image.gfan.com/static/image/gfan/share_btn.png) no-repeat 0px 0px; FLOAT: left; VERTICAL-ALIGN: top; MARGIN-RIGHT: 3px
}
#p_btn A:hover {
	TEXT-DECORATION: none
}
#p_btn I {
	FONT-STYLE: normal; PADDING-RIGHT: 8px; DISPLAY: block; BACKGROUND: url(http://image.gfan.com/static/image/gfan/share_btn.png) no-repeat 100% 100%; CURSOR: pointer
}
#p_btn IMG {
	MARGIN: 10px 5px 0px 2px; FLOAT: left
}
#p_btn SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; COLOR: #896226; PADDING-TOP: 0px
}
.tshare {
	PADDING-BOTTOM: 10px
}
.tshare STRONG {
	FLOAT: left; MARGIN-RIGHT: 10px
}
#p_btn .tshare A {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#p_btn .tshare I {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#p_btn A {
	COLOR: #896226; MARGIN-RIGHT: 10px
}
#p_btn A:hover {
	COLOR: #896226; TEXT-DECORATION: none
}
#p_btn A:active {
	COLOR: #896226; TEXT-DECORATION: none
}
#p_btn A:link {
	COLOR: #896226; TEXT-DECORATION: none
}
.rate {
	MARGIN: 20px 0px; FONT-SIZE: 12px
}
.rate DT {
	TEXT-ALIGN: center; WIDTH: 80px; FLOAT: left; PADDING-TOP: 7px
}
.rate DT STRONG {
	PADDING-BOTTOM: 12px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #fff4dd; HEIGHT: 46px; FONT-SIZE: 24px; PADDING-TOP: 12px
}
.rate DT P {
	PADDING-TOP: 10px
}
.rate DT STRONG A {
	LINE-HEIGHT: 48px; HEIGHT: 48px; COLOR: #f26c4f
}
.rate DT STRONG A EM {
	LINE-HEIGHT: 48px; HEIGHT: 48px; COLOR: #f26c4f
}
.rate DD {
	MARGIN-LEFT: 80px
}
.rate DD UL LI {
	TEXT-ALIGN: center; MARGIN: 0px 4px; WIDTH: 67px; FLOAT: left; HEIGHT: 84px; OVERFLOW: hidden
}
.rate .ratt {
	BORDER-BOTTOM: #ccc 1px dotted; PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 6px
}
.ratl TH {
	BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 5px; LINE-HEIGHT: 24px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; WHITE-SPACE: nowrap; HEIGHT: 24px; OVERFLOW: hidden; PADDING-TOP: 5px
}
.ratl TD {
	BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 5px; LINE-HEIGHT: 24px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; WHITE-SPACE: nowrap; HEIGHT: 24px; OVERFLOW: hidden; PADDING-TOP: 5px
}
.ratc {
	BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 5px; LINE-HEIGHT: 24px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; WHITE-SPACE: nowrap; HEIGHT: 24px; OVERFLOW: hidden; PADDING-TOP: 5px
}
.ratl IMG {
	WIDTH: 24px; HEIGHT: 24px; VERTICAL-ALIGN: middle
}
.rate_collapse .ratl_l {
	DISPLAY: none
}
.rate_collapse I {
	VISIBILITY: hidden
}
.rate .op {
	PADDING-RIGHT: 16px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/arrow_top.gif) no-repeat 100% 50%
}
.rate_collapse .op {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/arrow_down.gif)
}
.rate I {
	FONT-STYLE: normal
}
.psth {
	PADDING-BOTTOM: 5px; MARGIN: 2em 0px 2em -20px; PADDING-LEFT: 20px; WIDTH: 240px; PADDING-RIGHT: 45px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/arw.gif) #fff4dd no-repeat 100% 50%; COLOR: #f26c4f; FONT-SIZE: 14px; PADDING-TOP: 5px
}
.tpst .psth {
	MARGIN-LEFT: -15px
}
.pstl {
	MARGIN-BOTTOM: 2em; CLEAR: left
}
.psta {
	WIDTH: 30px; FLOAT: left
}
.psta IMG {
	WIDTH: 24px; HEIGHT: 24px
}
.psti {
	MARGIN-LEFT: 30px
}
.f_c .cm {
	OVERFLOW: hidden
}
.cm .psth {
	BACKGROUND-COLOR: #fff4dd; BACKGROUND-POSITION: 100% 50%; COLOR: #f26c4f; FONT-SIZE: 12px
}
.cm .pg {
	FLOAT: none
}
.cm .pg A {
	MARGIN: 0px 4px 0px 0px
}
.cm .pg STRONG {
	MARGIN: 0px 4px 0px 0px
}
.cm I {
	FONT-STYLE: normal; COLOR: #f30
}
.cmstar {
	MARGIN-TOP: 5px; WIDTH: 100px; DISPLAY: block; BACKGROUND: url(http://image.gfan.com/static/image/gfan/starlevel.gif) no-repeat 10px 0px; HEIGHT: 16px; CURSOR: pointer
}
.cmstarv {
	WIDTH: 100px; PADDING-RIGHT: 100px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/starlevel.gif) no-repeat 12px 0px; HEIGHT: 16px
}
.cmm .cmstar {
	MARGIN-TOP: 0px
}
.cmstar EM {
	TEXT-INDENT: -9999px; WIDTH: 16px; FLOAT: left; HEIGHT: 16px; OVERFLOW: hidden
}
#tath {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 15px; WIDTH: 130px; TEXT-OVERFLOW: ellipsis; PADDING-RIGHT: 10px; WORD-WRAP: normal; WHITE-SPACE: nowrap; OVERFLOW: hidden; WORD-BREAK: keep-all; PADDING-TOP: 0px
}
#tath IMG {
	WIDTH: 24px; HEIGHT: 24px; VERTICAL-ALIGN: middle
}
#f_pst .plc {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
#f_pst .fpp LABEL {
	ZOOM: 1
}
#f_pst .avatar {
	MARGIN-TOP: 15px
}
I.pstatus {
	TEXT-ALIGN: center; LINE-HEIGHT: 32px; FONT-STYLE: normal; DISPLAY: block; MARGIN-BOTTOM: -30px; COLOR: #999; FONT-SIZE: 12px
}
.bui {
	BORDER-BOTTOM: #e3e3e3 1px solid; POSITION: absolute; BORDER-LEFT: #e3e3e3 1px solid; PADDING-BOTTOM: 15px; MARGIN: -1px 0px 0px -1px; PADDING-LEFT: 20px; WIDTH: 430px !important; PADDING-RIGHT: 0px; BACKGROUND: #ffffff; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid; PADDING-TOP: 15px; -moz-box-shadow: 2px 2px 3px #CCC; -webkit-box-shadow: 2px 2px 3px #CCC; box-shadow: 2px 2px 3px #CCC
}
.bui DL {
	MARGIN: 5px 0px 10px
}
.bui DT {
	WIDTH: 4.5em
}
.bui DD {
	WIDTH: 75px; MARGIN-RIGHT: 10px
}
.bui .m IMG {
	MARGIN-BOTTOM: 12px
}
.bui .i {
	WIDTH: 290px
}
.imicn IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 8px
}
.imicn .xi2:hover {
	TEXT-DECORATION: none
}
.imicn .xi2 IMG {
	MARGIN-RIGHT: 0px
}
.pls .o LI {
	TEXT-INDENT: 18px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 50%
}
.pls .o .callon {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/home.gif)
}
.pls .o .buddy {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/feed/friend.gif)
}
.pls .o .poke2 {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/feed/poke.gif)
}
.pls .o .pm2 {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/pmto.gif)
}
.pls .o .addflw {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/flw_ico.png)
}
.pls .tip_4 {
	MARGIN-LEFT: -5px
}
.locked {
	BORDER-BOTTOM: #ff9a9a 1px dashed; BORDER-LEFT: #ff9a9a 1px dashed; PADDING-BOTTOM: 8px; MARGIN: 10px 0px; PADDING-LEFT: 24px; PADDING-RIGHT: 8px; ZOOM: 1; BACKGROUND: url(http://image.gfan.com/static/image/gfan/locked.gif) #ffffff no-repeat 6px 50%; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #ff9a9a 1px dashed; BORDER-RIGHT: #ff9a9a 1px dashed; PADDING-TOP: 8px
}
.locked STRONG {
	COLOR: #f26c4f
}
.locked A {
	COLOR: #369
}
.attach_nopermission A {
	COLOR: #369
}
.attach_nopermission {
	BORDER-BOTTOM: #aaaa92 1px dashed; BORDER-LEFT: #aaaa92 1px dashed; MARGIN: 10px 0px; WIDTH: 600px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/attach_nopermission_bg.png) #ffffee no-repeat 100% 0px; BORDER-TOP: #aaaa92 1px dashed; BORDER-RIGHT: #aaaa92 1px dashed
}
.attach_nopermission DIV {
	BORDER-BOTTOM: #fff 3px solid; BORDER-LEFT: #fff 3px solid; PADDING-BOTTOM: 20px; PADDING-LEFT: 70px; PADDING-RIGHT: 0px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/attach_nopermission.png) no-repeat 15px 15px; BORDER-TOP: #fff 3px solid; BORDER-RIGHT: #fff 3px solid; PADDING-TOP: 20px
}
.attach_nopermission:hover DIV {
	BORDER-BOTTOM-COLOR: #dadab1; BORDER-TOP-COLOR: #dadab1; BORDER-RIGHT-COLOR: #dadab1; BORDER-LEFT-COLOR: #dadab1
}
.viewpay {
	PADDING-BOTTOM: 1px; MARGIN: 0px 6px; PADDING-LEFT: 24px; PADDING-RIGHT: 0px; ZOOM: 1; BACKGROUND: url(http://image.gfan.com/static/image/gfan/viewpay.gif) no-repeat 6px 60%; COLOR: #369; OVERFLOW: hidden; FONT-WEIGHT: 700; PADDING-TOP: 1px
}
.showhide {
	BORDER-BOTTOM: #ff9a9a 1px dashed; BORDER-LEFT: #ff9a9a 1px dashed; PADDING-BOTTOM: 10px; MARGIN: 8px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; ZOOM: 1; OVERFLOW: hidden; BORDER-TOP: #ff9a9a 1px dashed; BORDER-RIGHT: #ff9a9a 1px dashed; PADDING-TOP: 10px
}
.showhide H4 {
	TEXT-ALIGN: center; MARGIN-BOTTOM: 10px; COLOR: #f66; FONT-SIZE: 12px
}
.pl .quote {
	PADDING-BOTTOM: 10px; MARGIN: 10px 0px; PADDING-LEFT: 65px; PADDING-RIGHT: 10px; ZOOM: 1; PADDING-TOP: 10px
}
.pl .blockcode {
	PADDING-BOTTOM: 10px; MARGIN: 10px 0px; PADDING-LEFT: 65px; PADDING-RIGHT: 10px; ZOOM: 1; PADDING-TOP: 10px
}
.pl .quote {
	PADDING-BOTTOM: 5px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/icon_quote_s.gif) #f9f9f9 no-repeat 20px 6px
}
.pl .quote BLOCKQUOTE {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 1.6; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 65px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(http://image.gfan.com/static/image/gfan/icon_quote_e.gif) no-repeat 100% 100%; PADDING-TOP: 0px
}
.ie6 .pl .quote BLOCKQUOTE {
	DISPLAY: inline
}
.ie7 .pl .quote BLOCKQUOTE {
	DISPLAY: inline
}
.pl .blockcode {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/codebg.gif) #f7f7f7 repeat-y 0px 0px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 10px
}
.pl .blockcode OL {
	PADDING-BOTTOM: 0px !important; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 0px !important
}
.pl .blockcode OL LI {
	LINE-HEIGHT: 1.8em; LIST-STYLE-TYPE: decimal-leading-zero; PADDING-LEFT: 10px; FONT-FAMILY: Monaco,Consolas,'Lucida Console','Courier New',serif; FONT-SIZE: 12px
}
.pl .blockcode OL LI:hover {
	BACKGROUND: #ffffff; COLOR: #369
}
* HTML .pl .blockcode OL LI {
	FONT-FAMILY: 'Courier New',serif
}
.pl .blockcode EM {
	COLOR: #369 !important; MARGIN-LEFT: 43px; FONT-SIZE: 12px; CURSOR: pointer
}
.pcht {
	MARGIN-BOTTOM: 15px
}
.pcht H4 A {
	COLOR: #369; TEXT-DECORATION: underline
}
.pcht TABLE {
	TABLE-LAYOUT: fixed
}
.pcht TABLE TD {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px
}
.pslt {
	WIDTH: 20px
}
.pvt {
	WIDTH: auto
}
.pvt LABEL {
	CURSOR: pointer
}
.pvts {
	WIDTH: 100px
}
.pcht TABLE TR.ptl TD {
	BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 8px
}
.pcht {
	WIDTH: 600px
}
.pinf {
	MARGIN: 15px 0px; COLOR: #999
}
.pinf STRONG {
	COLOR: #666
}
.pinf A {
	COLOR: #369
}
.ptmr {
	MARGIN: -10px 0px 15px
}
.voterlist {
	WIDTH: 495px; HEIGHT: 195px; OVERFLOW: auto
}
.voterlist .ps {
	MAX-WIDTH: 495px
}
.voterl LI {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; WIDTH: 90px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.act {
	
}
.act .c {
	LINE-HEIGHT: 28px; FONT-SIZE: 14px
}
.spvimg {
	BORDER-BOTTOM: #e3e3e3 1px solid; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: #e3e3e3 1px solid; WIDTH: 300px; BACKGROUND: #fafafa; FLOAT: left; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid
}
.spvimg EM.hot {
	WIDTH: 120px; BACKGROUND-POSITION: 0px -104px; HEIGHT: 102px
}
.spi {
	MARGIN-LEFT: 315px
}
.spi DL {
	FONT-SIZE: 14px
}
.spi DL DT {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; WIDTH: 80px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 1em; PADDING-TOP: 2px
}
.spi DL DD {
	PADDING-BOTTOM: 2px; MIN-HEIGHT: 21px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: auto !important; MARGIN-LEFT: 90px; PADDING-TOP: 2px
}
.spi DL DD EM {
	COLOR: #f30
}
DL.nums {
	
}
.spi DL.nums DT {
	PADDING-TOP: 15px
}
.spi DL.nums DD EM {
	FONT-SIZE: 26px
}
.actl {
	WIDTH: 320px; TABLE-LAYOUT: fixed; BORDER-TOP: #e3e3e3 3px solid
}
.actl TH {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #e3e3e3 1px dashed; PADDING-TOP: 8px
}
.actl TD {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #e3e3e3 1px dashed; PADDING-TOP: 8px
}
.actl TH {
	WIDTH: 60px
}
.actfm {
	OVERFLOW-X: hidden; OVERFLOW-Y: auto; HEIGHT: auto !important; MAX-HEIGHT: 220px
}
.actl_pop {
	MAX-WIDTH: 200px; MAX-HEIGHT: 300px; OVERFLOW: auto
}
.ie6 .actl_pop {
	WIDTH: 200px !important; ; HEIGHT: expression(this.offsetHeight > 300 ? 300:'auto')
}
.actl_pop LI {
	BORDER-BOTTOM: #e3e3e3 1px dashed; PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 3px
}
.actl_pop A {
	POSITION: static; BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-LEFT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; WHITE-SPACE: normal; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; PADDING-TOP: 0px
}
.actl_pop A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-DECORATION: underline
}
.rwd {
	
}
.rsld {
	TEXT-ALIGN: center; WIDTH: 90px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/rwd.gif) no-repeat 0px 0px; HEIGHT: 118px; COLOR: #f30
}
.rusld {
	TEXT-ALIGN: center; WIDTH: 90px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/rwd.gif) no-repeat 0px 0px; HEIGHT: 118px; COLOR: #f30
}
.rsld {
	BACKGROUND-POSITION: 0px -118px; COLOR: #999
}
.rsld CITE {
	MARGIN: 26px auto 6px; DISPLAY: block; HEIGHT: 30px; FONT-SIZE: 28px; _margin-bottom: -6px
}
.rusld CITE {
	MARGIN: 26px auto 6px; DISPLAY: block; HEIGHT: 30px; FONT-SIZE: 28px; _margin-bottom: -6px
}
.rwdn {
	MARGIN-LEFT: 110px
}
.rwdbst {
	
}
.pdbt {
	MARGIN: -5px 10px 0px 0px; FLOAT: right
}
.pdbts {
	LINE-HEIGHT: 25px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/pdbt.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 25px; OVERFLOW: hidden
}
.pdbts A {
	LINE-HEIGHT: 25px; MARGIN: 0px; FLOAT: left; HEIGHT: 25px
}
.pdbts A:hover {
	TEXT-DECORATION: none
}
.pdbts .v {
	TEXT-ALIGN: center; WIDTH: 39px; PADDING-RIGHT: 3px; COLOR: #ffffff; FONT-WEIGHT: 700
}
.pdbts .b {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/pdbt.gif) no-repeat 100% -25px; PADDING-TOP: 0px
}
.pdbts_0 {
	BACKGROUND-POSITION: 0px -100px
}
.pdbts_0 A {
	TEXT-ALIGN: center; WIDTH: 110px
}
.pdbts_2 {
	BACKGROUND-POSITION: 0px -50px
}
.pdbts_2 .b {
	BACKGROUND-POSITION: 100% -75px
}
.trdc {
	LINE-HEIGHT: 30px; MARGIN-TOP: 20px; BACKGROUND: #09c; HEIGHT: 30px; COLOR: #ffffff
}
.trdc A {
	LINE-HEIGHT: 30px; MARGIN: 0px 6px; HEIGHT: 30px; COLOR: #ffffff
}
.trdc EM {
	LINE-HEIGHT: 30px; PADDING-RIGHT: 6px; FLOAT: right; COLOR: #ffffff
}
.trdb {
	BORDER-BOTTOM: #ccc 1px dashed
}
.trdb .y * {
	VERTICAL-ALIGN: middle
}
.trdb .c {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; CLEAR: both; FONT-SIZE: 14px; PADDING-TOP: 10px
}
.trdb .c .pattl {
	BORDER-BOTTOM-STYLE: none !important; BORDER-LEFT-STYLE: none !important; BORDER-TOP-STYLE: none !important; BORDER-RIGHT-STYLE: none !important
}
.spi H4 {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-SIZE: 18px; FONT-WEIGHT: 700; PADDING-TOP: 4px
}
.trdl {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.trdl .tt {
	POSITION: relative; TEXT-ALIGN: center; WIDTH: 90px; FLOAT: left
}
.trdl .tt IMG {
	VERTICAL-ALIGN: middle; CURSOR: pointer
}
.trdl .tt .hot {
	WIDTH: 43px; HEIGHT: 37px
}
.ta {
	MARGIN-LEFT: 100px; OVERFLOW: hidden
}
.ta H4 {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-SIZE: 14px; FONT-WEIGHT: 700; PADDING-TOP: 2px
}
.ta DL {
	MARGIN: 0px; WIDTH: 200px
}
.ta STRONG {
	COLOR: #f30; FONT-SIZE: 16px
}
.torder .spvimg {
	WIDTH: 90px
}
.torder .spi {
	MARGIN-LEFT: 110px
}
.torder .spi STRONG {
	COLOR: #f30
}
.vw .pcb {
	MARGIN-RIGHT: 0px
}
.vw DD .pcb {
	WIDTH: 640px
}
.vw DD .rate {
	PADDING-LEFT: 0px
}
.vw .pcb TABLE {
	WIDTH: 100%; TABLE-LAYOUT: fixed; OVERFLOW: hidden
}
.vw .t_fsz {
	MIN-HEIGHT: 30px
}
.ie6 .vw .t_fsz {
	HEIGHT: 30px
}
.vw .pstl {
	MARGIN-BOTTOM: 1.4em
}
.vw .psth {
	MARGIN-LEFT: 0px
}
.vw .pdbts {
	LINE-HEIGHT: 20px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/pdbtm.gif) no-repeat 0px 0px; HEIGHT: 20px; MARGIN-RIGHT: 10px
}
.vw .pdbts A {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
.vw .pdbts .b {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/pdbtm.gif) no-repeat 100% -20px; PADDING-TOP: 0px
}
.vw .pdbts .b:hover {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/pdbtm.gif) no-repeat 100% -20px; PADDING-TOP: 0px
}
.vw .pdbts .v {
	WIDTH: 30px
}
.vw .pdbts_0 {
	BACKGROUND-POSITION: 0px -80px
}
.vw .pdbts_0 A {
	TEXT-ALIGN: center; WIDTH: 90px
}
.vw .pdbts_2 {
	BACKGROUND-POSITION: 0px -40px
}
.vw .pdbts_2 .b {
	BACKGROUND-POSITION: 100% -60px
}
.vw .pdbts_2 .b:hover {
	BACKGROUND-POSITION: 100% -60px
}
.vw .dr .sr_2 H5 {
	WIDTH: 172px
}
.vw .dr H5 {
	WIDTH: 172px
}
#modopt {
	MARGIN-LEFT: 5px
}
#modopttmp {
	MARGIN-LEFT: 5px
}
#visitedforums_menu {
	WIDTH: 150px
}
#visitedforums_menu LI {
	DISPLAY: block; FLOAT: none
}
#visitedforums_menu TD {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
#visitedforums_menu A {
	DISPLAY: inline-block; WHITE-SPACE: normal !important; HEIGHT: 1.5em; OVERFLOW: hidden
}
#v_forums {
	WIDTH: 120px
}
#v_threads LI {
	PADDING-LEFT: 10px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/dot.gif) no-repeat 0px 7px
}
#v_forums LI {
	PADDING-LEFT: 10px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/dot.gif) no-repeat 0px 7px
}
#fastsmilies {
	TEXT-ALIGN: right
}
#fastsmilies TABLE {
	WIDTH: 160px; TABLE-LAYOUT: auto; HEIGHT: 133px
}
#fastsmilies TD {
	TEXT-ALIGN: right; VERTICAL-ALIGN: middle; CURSOR: pointer
}
#fastsmilies IMG {
	VERTICAL-ALIGN: middle
}
.tradl {
	
}
.tradl LI {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 138px; PADDING-RIGHT: 10px; HEIGHT: 235px; PADDING-TOP: 10px
}
.pg_trade .tradl LI {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; FLOAT: none; HEIGHT: 224px; PADDING-TOP: 10px
}
.tradl .u {
	TEXT-ALIGN: left
}
.tradl H4 {
	HEIGHT: 38px; OVERFLOW: hidden; FONT-WEIGHT: 400
}
.tradl .tn {
	BORDER-BOTTOM: #e3e3e3 1px solid; POSITION: relative; BORDER-LEFT: #e3e3e3 1px solid; PADDING-BOTTOM: 1px; MARGIN: 5px auto; PADDING-LEFT: 1px; WIDTH: 130px; PADDING-RIGHT: 1px; DISPLAY: block; HEIGHT: 130px; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid; PADDING-TOP: 1px
}
.tradl .tn EM.hot {
	WIDTH: 53px; BACKGROUND-POSITION: 0px -48px; HEIGHT: 46px
}
.tradl IMG {
	MAX-WIDTH: 130px; MAX-HEIGHT: 130px
}
* HTML .tradl IMG {
	; WIDTH: expression(this.width > 130 && this.width>=this.height ? 130:true); ; HEIGHT: expression(this.height > 130 && this.width<=this.height ? 130:true)
}
.tradl .p {
	FONT-FAMILY: Arial,sans-serif; COLOR: #999; FONT-SIZE: 16px
}
.tradl .stat {
	BACKGROUND: url(http://image.gfan.com/static/image/gfan/closed.png); COLOR: #ffffff
}
.dtm {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: 700; PADDING-TOP: 10px
}
.ds {
	LINE-HEIGHT: normal; MARGIN-TOP: 1em; BACKGROUND: url(http://image.gfan.com/static/image/gfan/debate_bg.gif) no-repeat 50% 100%
}
.ds TH {
	WIDTH: 60px; VERTICAL-ALIGN: bottom
}
.ds TH DIV {
	BACKGROUND: url(http://image.gfan.com/static/image/gfan/debate_vs.gif) no-repeat 50% 50%; HEIGHT: 150px
}
.ds TD {
	VERTICAL-ALIGN: bottom
}
.ds TD P {
	TEXT-ALIGN: left; PADDING-BOTTOM: 15px; LINE-HEIGHT: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; PADDING-TOP: 5px
}
.ds .si_1 {
	TEXT-ALIGN: center; VERTICAL-ALIGN: middle
}
.ds .si_2 {
	TEXT-ALIGN: center; VERTICAL-ALIGN: middle
}
.ds .sc_1 {
	WIDTH: 62px
}
.ds .sc_2 {
	WIDTH: 62px
}
.ds .point_chart {
	POSITION: relative; WIDTH: 62px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/debate_chart.gif) no-repeat 0px 0px; HEIGHT: 150px
}
.ds .point {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 10px; PADDING-RIGHT: 20px; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.ds .si_2 .point {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 0px
}
.ds .si_1 .point STRONG {
	COLOR: #f04700
}
.ds .si_2 .point STRONG {
	COLOR: #0092c5
}
.ds .chart {
	POSITION: absolute; WIDTH: 62px; BOTTOM: 0px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/debate_chart.gif) no-repeat; LEFT: 0px
}
.ds .sc_1 .chart {
	BACKGROUND-POSITION: -62px 0px
}
.ds .sc_2 .chart {
	BACKGROUND-POSITION: -124px 0px
}
#nv_home .ds TABLE {
	WIDTH: 100%; TABLE-LAYOUT: fixed
}
#nv_home .ds TH DIV {
	HEIGHT: 120px
}
#nv_home .ds .point_chart {
	HEIGHT: 120px
}
#nv_home .ds .ph {
	TEXT-ALIGN: center; FONT-SIZE: 16px
}
.dr {
	MARGIN: 2px 0px; MIN-HEIGHT: 80px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/debate_dr.jpg) no-repeat 50% 0px; HEIGHT: auto !important; PADDING-TOP: 6px
}
.dr TH {
	WIDTH: 50px
}
.dr TD {
	VERTICAL-ALIGN: top
}
.dr H5 {
	TEXT-ALIGN: center; PADDING-LEFT: 10px; WIDTH: 193px; FONT-SIZE: 14px; FONT-WEIGHT: 400
}
.dr H5 A {
	COLOR: #f04700; FONT-WEIGHT: 700
}
.dr .sr_1 .pn {
	FLOAT: right; MARGIN-RIGHT: 5px
}
.dr .sr_2 .pn {
	MARGIN-LEFT: 5px
}
.dr .sr_2 H5 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 183px; PADDING-RIGHT: 20px; FLOAT: right; PADDING-TOP: 0px
}
.dr .sr_2 H5 A {
	COLOR: #0092c5
}
.dr .mls {
	CLEAR: both; PADDING-TOP: 15px
}
.dr .mls LI {
	WIDTH: 70px
}
.ptg {
	PADDING-LEFT: 20px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/tag.gif) no-repeat 0px 2px
}
.ptg A {
	COLOR: #369
}
.pattl {
	PADDING-BOTTOM: 1em; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 1em
}
.tatt {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #999; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.t_attach_img {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #999; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.tatt {
	WIDTH: 240px
}
.tatt EM {
	COLOR: #999
}
.t_attachinsert {
	MARGIN: 1em 0px; FONT-SIZE: 12px
}
.t_attachinsert P IMG {
	MARGIN-BOTTOM: -4px
}
.t_table {
	BORDER-BOTTOM: #e3edf5 1px solid; BORDER-LEFT: #e3edf5 1px solid; BORDER-COLLAPSE: collapse; EMPTY-CELLS: show; BORDER-TOP: #e3edf5 1px solid; BORDER-RIGHT: #e3edf5 1px solid
}
.pl TABLE.t_table {
	TABLE-LAYOUT: auto
}
.t_table TD {
	BORDER-BOTTOM: #e3edf5 1px solid; BORDER-LEFT: #e3edf5 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; OVERFLOW: hidden; BORDER-TOP: #e3edf5 1px solid; BORDER-RIGHT: #e3edf5 1px solid; PADDING-TOP: 4px
}
.tattl {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 45%; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 64px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.tattl A {
	COLOR: #369; TEXT-DECORATION: underline
}
.tattl DT {
	WIDTH: 40px; FLOAT: left; FONT-WEIGHT: 700
}
.tattl STRONG {
	COLOR: #f26c4f; FONT-WEIGHT: 400; MARGIN-RIGHT: 6px
}
.tattl DT IMG {
	WIDTH: 32px; HEIGHT: 32px
}
.tattl DD {
	COLOR: #999; MARGIN-LEFT: 40px
}
.attnm {
	WHITE-SPACE: nowrap; MARGIN-BOTTOM: 3px; HEIGHT: 18px; OVERFLOW: hidden
}
* HTML .attnm {
	WHITE-SPACE: normal
}
.attm {
	WIDTH: 580px; FLOAT: none; HEIGHT: auto; OVERFLOW: visible
}
.attm DT {
	WIDTH: 0px
}
.attm DD {
	MARGIN-LEFT: 0px
}
.zoom {
	CURSOR: pointer
}
.attp {
	TEXT-ALIGN: left; WIDTH: 180px
}
.tattl .attp {
	WIDTH: 240px
}
.attprice {
	BORDER-BOTTOM: #ff9a9a 1px dashed; BORDER-LEFT: #ff9a9a 1px dashed; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #ff9a9a 1px dashed; BORDER-RIGHT: #ff9a9a 1px dashed; PADDING-TOP: 5px
}
.zoominner {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #ffffff; PADDING-TOP: 5px
}
.zoominner P {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
.zoominner P A {
	LINE-HEIGHT: 100px; WIDTH: 17px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/imgzoom_tb.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 17px; MARGIN-LEFT: 10px; OVERFLOW: hidden
}
.zoominner P A:hover {
	BACKGROUND-POSITION: 0px -39px
}
.zoominner P A.imgadjust {
	BACKGROUND-POSITION: -40px 0px
}
.zoominner P A.imgadjust:hover {
	BACKGROUND-POSITION: -40px -39px
}
.zoominner P A.imgclose {
	BACKGROUND-POSITION: -80px 0px
}
.zoominner P A.imgclose:hover {
	BACKGROUND-POSITION: -80px -39px
}
.zimg_c {
	POSITION: relative
}
.zimg_prev {
	POSITION: absolute; WIDTH: 80px; DISPLAY: block; BACKGROUND: url(http://image.gfan.com/static/image/gfan/pic-prev.png) no-repeat 0px -100px; HEIGHT: 100%; CURSOR: pointer
}
.zimg_next {
	POSITION: absolute; WIDTH: 80px; DISPLAY: block; BACKGROUND: url(http://image.gfan.com/static/image/gfan/pic-prev.png) no-repeat 0px -100px; HEIGHT: 100%; CURSOR: pointer
}
.zimg_next {
	BACKGROUND-IMAGE: url(http://image.gfan.com/static/image/gfan/pic-next.png); BACKGROUND-POSITION: 100% -100px; RIGHT: 10px
}
.zimg_c IMG {
	MARGIN: 0px auto
}
.zimg_p STRONG {
	DISPLAY: none
}
.relatedlink {
	BORDER-BOTTOM: blue 1px solid; COLOR: #444 !important; TEXT-DECORATION: none !important
}
.relatedlink:hover {
	BORDER-BOTTOM: blue 1px solid; COLOR: #444 !important; TEXT-DECORATION: none !important
}
.favmark {
	MARGIN-BOTTOM: -3px
}
.vw {
	
}
.vw .h {
	BORDER-BOTTOM: #e3e3e3 1px solid; PADDING-BOTTOM: 15px
}
.vw .ph {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; PADDING-TOP: 15px
}
.vw .hot {
	COLOR: #f26c4f; MARGIN-RIGHT: 5px
}
.vw .s {
	BORDER-BOTTOM: #e3e3e3 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 2; MARGIN-TOP: 10px; COLOR: #369
}
.vw .s STRONG {
	COLOR: red; FONT-WEIGHT: 400
}
.vw .d {
	LINE-HEIGHT: 1.8; MARGIN: 15px 0px; MIN-HEIGHT: 100px; COLOR: #000; FONT-SIZE: 14px
}
.vw .d I {
	FONT-STYLE: italic
}
.vw .d IMG {
	MAX-WIDTH: 620px
}
.ie6 .vw .d IMG {
	; WIDTH: expression(this.width > 620 ? 620:true)
}
.vwtb {
	WIDTH: 100%; TABLE-LAYOUT: fixed; HEIGHT: 300px
}
.vw .pattl_c .tip {
	LINE-HEIGHT: 1.5
}
#article_content {
	VERTICAL-ALIGN: top
}
.vw .d OL {
	MARGIN: 1em 2em
}
.vw .d UL {
	MARGIN: 1em 2em
}
.vw .d UL LI {
	LIST-STYLE-TYPE: disc
}
.vw .d .ml {
	MARGIN: 0px
}
.vw .d .xl {
	MARGIN: 0px
}
.vw .d .ml LI {
	LIST-STYLE-TYPE: none
}
.vw .attach {
	PADDING-LEFT: 20px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/fach.gif) no-repeat 0px 50%; COLOR: #369
}
.vw .o {
	TEXT-ALIGN: right; MARGIN-TOP: 15px; BORDER-TOP: #e3e3e3 1px solid; PADDING-TOP: 5px
}
.vw .o .mgcmn {
	TEXT-ALIGN: left; WIDTH: auto
}
#nv_portal .vw .h {
	MARGIN-LEFT: 15px; MARGIN-RIGHT: 15px
}
#nv_portal .vw .s {
	MARGIN-LEFT: 15px; MARGIN-RIGHT: 15px
}
#nv_portal .vw .d {
	MARGIN-LEFT: 15px; MARGIN-RIGHT: 15px
}
#nv_portal .vw .o {
	MARGIN-LEFT: 15px; MARGIN-RIGHT: 15px
}
#nv_forum .vw .h {
	MARGIN-LEFT: 15px; MARGIN-RIGHT: 15px
}
#nv_forum .vw .s {
	MARGIN-LEFT: 15px; MARGIN-RIGHT: 15px
}
#nv_forum .vw .d {
	MARGIN-LEFT: 15px; MARGIN-RIGHT: 15px
}
.atd {
	MARGIN: 15px auto
}
.atd IMG {
	MARGIN-BOTTOM: 10px
}
.atd A {
	DISPLAY: block
}
.atd A:hover {
	TEXT-DECORATION: none
}
.atd TD {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: bottom; PADDING-TOP: 10px
}
.atd .atdc {
	POSITION: relative; MARGIN: 0px auto 10px; WIDTH: 20px; HEIGHT: 50px
}
.atdc DIV {
	POSITION: absolute; TEXT-ALIGN: left; WIDTH: 20px; BOTTOM: 0px; LEFT: 0px
}
.atd .ac1 {
	BACKGROUND: #c30
}
.atd .ac2 {
	BACKGROUND: #0c0
}
.atd .ac3 {
	BACKGROUND: #f90
}
.atd .ac4 {
	BACKGROUND: #06f
}
.atdc EM {
	POSITION: absolute; TEXT-ALIGN: center; MARGIN: -25px 0px 0px -5px; WIDTH: 30px; COLOR: #999; FONT-SIZE: 11px
}
.clct_list .xld {
	WIDTH: 49.9%; MARGIN-BOTTOM: 5px; FLOAT: left; HEIGHT: 105px; OVERFLOW: hidden
}
.clct_list .xld .m {
	WIDTH: 55px; HEIGHT: 50px; OVERFLOW: hidden; CURSOR: pointer
}
.clct_list .xld .m A {
	WIDTH: 55px; HEIGHT: 50px; OVERFLOW: hidden; CURSOR: pointer
}
.clct_list .xld .m {
	BACKGROUND: url(http://image.gfan.com/static/image/gfan/hotspot.gif) no-repeat 100% 0px
}
.clct_list .xld .m A:hover {
	TEXT-DECORATION: none
}
.clct_list .xld .m STRONG {
	LINE-HEIGHT: 32px; DISPLAY: block; HEIGHT: 32px
}
.clct_list .xld .m SPAN {
	DISPLAY: block; COLOR: #fff
}
.clct_flw {
	LINE-HEIGHT: 25px; MARGIN-TOP: 5px; FLOAT: right; HEIGHT: 25px; OVERFLOW: hidden
}
.clct_flw I {
	TEXT-ALIGN: center; FONT-STYLE: normal; WIDTH: 42px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/pdbt.gif) no-repeat 0px 0px; FLOAT: right; COLOR: #fff
}
.clct_flw .u {
	WIDTH: 66px; BACKGROUND-POSITION: 0px -125px
}
.clct_flw STRONG {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/pdbt.gif) no-repeat 100% -25px; FLOAT: right; PADDING-TOP: 0px
}
.clct_flw A {
	COLOR: #fff
}
.clct_ratestar {
	WIDTH: 80px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/fav_grey.gif) repeat-x 0px 0px; FLOAT: left; HEIGHT: 24px
}
.clct_ratestar .btn {
	Z-INDEX: 2; POSITION: absolute; WIDTH: 80px; HEIGHT: 24px
}
.clct_ratestar A {
	TEXT-INDENT: -9999px; WIDTH: 16px; FLOAT: left; HEIGHT: 20px; OVERFLOW: hidden
}
.clct_ratestar .star {
	Z-INDEX: 1; POSITION: absolute; WIDTH: 0px; BACKGROUND: url(http://image.gfan.com/static/image/gfan/fav.gif) repeat-x 0px 0px; HEIGHT: 24px
}
.clct_ratestar .star1 {
	WIDTH: 16px
}
.clct_ratestar .star2 {
	WIDTH: 32px
}
.clct_ratestar .star3 {
	WIDTH: 48px
}
.clct_ratestar .star4 {
	WIDTH: 64px
}
.clct_ratestar .star5 {
	WIDTH: 80px
}
.tbmu {
	LINE-HEIGHT: 23px; PADDING-LEFT: 10px
}
.ctag {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-WEIGHT: 400; PADDING-TOP: 1px; border-radius: 3px
}
.ctag0 {
	BACKGROUND: #f6c5be; COLOR: #822111
}
.ctag1 {
	BACKGROUND: #fef1d1; COLOR: #aa8831
}
.ctag2 {
	BACKGROUND: #eee; COLOR: #666
}
.qdsmile {
	PADDING-BOTTOM: 3px; LIST-STYLE-TYPE: none; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; MARGIN-LEFT: 7px; MARGIN-RIGHT: 7px; PADDING-TOP: 3px
}
.qdsmile LI {
	BORDER-BOTTOM: #d1d8d8 2px dashed; BORDER-LEFT: #d1d8d8 2px dashed; PADDING-BOTTOM: 5px; PADDING-LEFT: 0.4em; PADDING-RIGHT: 0.4em; BACKGROUND: #f7faff; BORDER-TOP: #d1d8d8 2px dashed; BORDER-RIGHT: #d1d8d8 2px dashed; PADDING-TOP: 5px
}
.qdsmile LI IMG {
	MARGIN-BOTTOM: 5px
}
#share_picture_list {
	PADDING-BOTTOM: 0px; MARGIN: 10px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
#share_picture_list DIV.share_picture_box {
	TEXT-ALIGN: center; WIDTH: 120px; FLOAT: left
}
#share_picture_list DIV.share_picture_box A {
	BORDER-BOTTOM: #ddd 2px solid; BORDER-LEFT: #ddd 2px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 100px; PADDING-RIGHT: 2px; DISPLAY: block; HEIGHT: 100px; BORDER-TOP: #ddd 2px solid; BORDER-RIGHT: #ddd 2px solid; PADDING-TOP: 2px
}
#share_picture_list DIV.share_picture_box A:hover {
	BORDER-BOTTOM: #74cbec 2px solid; BORDER-LEFT: #74cbec 2px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 100px; PADDING-RIGHT: 2px; DISPLAY: block; HEIGHT: 100px; BORDER-TOP: #74cbec 2px solid; BORDER-RIGHT: #74cbec 2px solid; PADDING-TOP: 2px
}
#share_picture_list DIV.select A {
	BORDER-BOTTOM-COLOR: #74cbec; BORDER-TOP-COLOR: #74cbec; BORDER-RIGHT-COLOR: #74cbec; BORDER-LEFT-COLOR: #74cbec
}
#share_picture_list DIV.share_picture_box A IMG {
	WIDTH: 100px; HEIGHT: 100px
}
#share_picture_list DIV DIV.badge {
	Z-INDEX: 1; POSITION: absolute; MARGIN: -2px 0px 0px -2px; WIDTH: 112px; DISPLAY: block; BACKGROUND: url(http://image.gfan.com/static/image/gfan/transparent.gif) no-repeat 0px 0px; HEIGHT: 112px; CURSOR: pointer
}
#share_picture_list DIV.select DIV.badge {
	BACKGROUND: url(http://image.gfan.com/static/image/gfan/share_img.png) no-repeat 0px 0px
}
#share_picture_title {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; WIDTH: 100%; PADDING-RIGHT: 15px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
#cancel_share_picture_title {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.syn_qq {
	LINE-HEIGHT: 64px; MARGIN-TOP: 3px; WIDTH: 19px; DISPLAY: inline-block; BACKGROUND: url(http://image.gfan.com/static/image/gfan/connect_post_syn.png) no-repeat 0px 0px; HEIGHT: 19px; VERTICAL-ALIGN: top; OVERFLOW: hidden; CURSOR: pointer
}
.syn_tqq {
	LINE-HEIGHT: 64px; MARGIN-TOP: 3px; WIDTH: 19px; DISPLAY: inline-block; BACKGROUND: url(http://image.gfan.com/static/image/gfan/connect_post_syn.png) no-repeat 0px 0px; HEIGHT: 19px; VERTICAL-ALIGN: top; OVERFLOW: hidden; CURSOR: pointer
}
.syn_qq_check {
	LINE-HEIGHT: 64px; MARGIN-TOP: 3px; WIDTH: 19px; DISPLAY: inline-block; BACKGROUND: url(http://image.gfan.com/static/image/gfan/connect_post_syn.png) no-repeat 0px 0px; HEIGHT: 19px; VERTICAL-ALIGN: top; OVERFLOW: hidden; CURSOR: pointer
}
.syn_tqq_check {
	LINE-HEIGHT: 64px; MARGIN-TOP: 3px; WIDTH: 19px; DISPLAY: inline-block; BACKGROUND: url(http://image.gfan.com/static/image/gfan/connect_post_syn.png) no-repeat 0px 0px; HEIGHT: 19px; VERTICAL-ALIGN: top; OVERFLOW: hidden; CURSOR: pointer
}
.ie6 .syn_qq {
	DISPLAY: inline
}
.ie6 .syn_tqq {
	DISPLAY: inline
}
.ie6 .syn_qq_check {
	DISPLAY: inline
}
.ie6 .syn_tqq_check {
	DISPLAY: inline
}
.syn_qq_check {
	BACKGROUND-POSITION: -22px 0px
}
.syn_tqq {
	BACKGROUND-POSITION: 0px -22px; MARGIN-LEFT: 5px
}
.syn_tqq_check {
	BACKGROUND-POSITION: -22px -22px; MARGIN-LEFT: 5px
}
