/*
# ------------------------------------------------------------------------
# Ja NewsPro
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/

.ja-zinwrap { background: #fff; }

.ja-zin {}

.ja-zin .items-row { margin: 0; padding: 0; background: none; }

.ja-zin .ja-box .ja-box-inner { margin: 0; padding: 8px 12px 5px; }

.ja-zin .ja-box-first .ja-box-inner {}

.ja-zin .col-last .ja-box-inner { border-right: 0; }

/* HEADING
--------------------------------------------- */
/* Section --- */
.ja-zinsec { padding: 12px 0 0; position: relative; }

.items-row:hover .ja-zinsec {}

.items-row:hover .ja-zinsec a {}

.ja-zinsec h2 {
	margin: 0 !important;
	padding: 0 12px !important;
	font-size: 150%;
}

.ja-zinsec h2 a {}

/* Category --- */
.ja-zincat h3 {
	margin: 0 0 5px !important;
	padding: 0 !important;
	font-size: 85%;
}

.ja-zincat h3 a { color: #999; }

/* News Title --- */
h4.ja-zintitle {
	margin: 0 0 5px !important;
	padding: 0 !important;
	font-weight: bold;
	font-size: 110%;
}

/* CONTENT
--------------------------------------------- */
.ja-zin .ja-zincontent { float: left; width: 69%; }

.ja-zin .ja-zincontent p { margin: 5px 0 !important; }

/* Image ---*/
.ja-zin .ja-zincontent img { margin: 5px 0; }

/* Meta ---*/
.ja-zin .ja-zinmeta { color: #999; line-height: normal; }

/* More Links ---*/
.ja-zin .ja-zinlinks { float: right; width: 29%; font-size: 92%; }

.ja-zin .ja-zinlinks strong { color: #999; font-weight: normal; }

.ja-zin .ja-zinlinks ul { padding: 0 !important; margin: 0 !important; }

.ja-zin .ja-zinlinks ul li {
	padding: 0 0 0 10px;
	background: url(images/arrow.png) no-repeat 1px 3px;
	margin: 3px 0 5px;
	line-height: normal;
}

/* SUBCATS SELECTION
----------------------------------------------*/
.ja-zin .subcats-selection { position: relative; }

.ja-zin .subcats-selection li { float: left; display: block; }

.ja-zin .subcats-selection li.active a {}

.ja-zin .ja-newspro-control {}

.ja-zin .subcats-selection .subcat-more {
	background: red;
	display: none;
}
.ja-zin .ja-cats-slide-mainwrap {
	position: relative; 
	overflow: hidden;
	clear: both;
}

.ja-zin .ja-articles-mainwrap { position: relative; }

.ja-zin .ja-articles{ position: absolute; background: white; width: 100%; }


/* MISC.
------------------------------------------------*/
/* 1st & last row/column style ---*/
.row-last { border-bottom: 0 !important; }

.ja-mod-inner { position: relative; }
.ja-newspro-loading{
	display: none;
	position: absolute;
}