/**
 * NoNumber! Elements stylesheet for AdminPraise 3 template
 *
 * @package     NoNumber! Elements
 * @version     2.4.2
 *
 * @author      Peter van Westen <peter@nonumber.nl>
 * @link        http://www.nonumber.nl
 * @copyright   Copyright © 2011 NoNumber! All Rights Reserved
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

#ap-menu li.com_nonumbermanager .component-image,
#ap-menu li.com_contenttemplater .component-image,
#ap-menu li.com_dbreplacer .component-image,
#ap-menu li.com_rereplacer .component-image,
#ap-menu li.com_snippets .component-image {
    background-image: url( ../images/icons-32_ap3.png );
}
#ap-menu li.com_nonumbermanager .component-image {
    background-position: 0 0;
}
#ap-menu li.com_contenttemplater .component-image {
    background-position: 0 -32px;
}
#ap-menu li.com_dbreplacer .component-image {
    background-position: 0 -64px;
}
#ap-menu li.com_rereplacer .component-image {
    background-position: 0 -96px;
}
#ap-menu li.com_snippets .component-image {
    background-position: 0 -128px;
}

#ap-footermenu li.com_nonumbermanager .component-image,
#ap-footermenu li.com_contenttemplater .component-image,
#ap-footermenu li.com_dbreplacer .component-image,
#ap-footermenu li.com_rereplacer .component-image,
#ap-footermenu li.com_snippets .component-image {
    background-image: url( ../images/icons-24_ap3.png );
}
#ap-footermenu li.com_nonumbermanager .component-image {
    background-position: 0 0;
}
#ap-footermenu li.com_contenttemplater .component-image {
    background-position: 0 -24px;
}
#ap-footermenu li.com_dbreplacer .component-image {
    background-position: 0 -48px;
}
#ap-footermenu li.com_rereplacer .component-image {
    background-position: 0 -72px;
}
#ap-footermenu li.com_snippets .component-image {
    background-position: 0 -96px;
}

#ap-mainmenu li.com_nonumbermanager .component-image,
#ap-mainmenu li.com_contenttemplater .component-image,
#ap-mainmenu li.com_dbreplacer .component-image,
#ap-mainmenu li.com_rereplacer .component-image,
#ap-mainmenu li.com_snippets .component-image {
    background: transparent url( ../images/icons-16_ap3.png ) no-repeat 0 0;
	display: inline-block;
	height: 16px;
    width: 16px;
    margin: 0 3px -2px 0;
}
#ap-mainmenu li.com_nonumbermanager .component-image {
    background-position: 0 0;
}
#ap-mainmenu li.com_contenttemplater .component-image {
    background-position: 0 -16px;
}
#ap-mainmenu li.com_dbreplacer .component-image {
    background-position: 0 -32px;
}
#ap-mainmenu li.com_rereplacer .component-image {
    background-position: 0 -48px;
}
#ap-mainmenu li.com_snippets .component-image {
    background-position: 0 -64px;
}