/**
 * NoNumber! Elements popup stylesheet
 *
 * @package     NoNumber! Elements
 * @version     2.4.2
 *
 * @author      Peter van Westen <peter@nonumber.nl>
 * @link        http://www.nonumber.nl
 * @copyright   Copyright © 2011 NoNumber! All Rights Reserved
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

.button2-left .hasicon {
	background: url(../images/button_blank.png) no-repeat 100% 0;
}
.button2-left .hasicon a {
	background: transparent url(../images/button_right_apply.png) no-repeat 100% 3px;
	padding-right: 19px !important;
	margin-right: 3px;
}
.button2-left .apply a			{ background-image: url(../images/button_right_apply.png); }
.button2-left .cancel a 		{ background-image: url(../images/button_right_cancel.png); }

.bar-option {
	float: left;
	padding: 0 20px 0 0;
}