/*
# ------------------------------------------------------------------------
# JA Tabs Plugins for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/

.ja-tabswrap { margin: 0; padding: 0; }

.teline_iv .container {
	overflow: hidden;
	position: relative;
	z-index: 10;
}

/* JA Tabs top */
.teline_iv .container .ja-tabs-title-top {
	position: relative;
	height: 26px;
	background: #f0f0f0;
	border-top: 5px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px dotted #999;
}

.teline_iv .container .ja-tabs-title-top ul.ja-tabs-title {
	height: 26px;
	top: -5px;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
}

.teline_iv .container .ja-tabs-title-top ul.ja-tabs-title li {
	cursor: pointer;
	display: block;
	float: left;
	margin: 0;
	height: 26px;
	border-top: 5px solid #ccc;
	background: url(tab-divider.png) repeat-y right;
}

.teline_iv .container .ja-tabs-title-top ul.ja-tabs-title li.first {}

.teline_iv .container .ja-tabs-title-top ul.ja-tabs-title li h3 {
	font: 110%/26px "Arial Narrow", Arial, sans-serif;
	margin: 0;
	padding: 0 8px;
	text-transform: uppercase;
	color: #999;
	border: none;
	background: none;
	letter-spacing: normal;
}

.teline_iv .container .ja-tabs-title-top ul.ja-tabs-title li h3 span {
	margin: 0;
	padding: 0;
	border: 0;
	display: inline;
	background: none;
}

.teline_iv .container .ja-tabs-title-top ul.ja-tabs-title li.hover { border-top: 5px solid #000; }

.teline_iv .container .ja-tabs-title-top ul.ja-tabs-title li.hover h3 { color: #000; }

.teline_iv .container .ja-tabs-title-top ul.ja-tabs-title li.active { border-top: 5px solid #069; }

.teline_iv .container .ja-tabs-title-top ul.ja-tabs-title li.active h3 { color: #000; font-weight: bold; }

.teline_iv .ja-tab-panels-top { width: auto; background: #fff; border: 1px solid #ccc; border-top: 0; }

.ja-tabswrap div.ja-tab-subcontent { padding: 8px; }

/* JA Tabs left */
.teline_iv .ja-tabs-title-left {
	background: #f7f7f7 none repeat scroll 0%;
	border-right: 1px solid #cccccc;
	height: 100%;
}

.teline_iv .ja-tabs-title-left ul.ja-tabs-title li {
	background: #ebf2f9 none repeat scroll 0%;
	border-bottom: 1px solid #cccccc;
	cursor: pointer;
	height: 30px;
	margin: 0pt;
}

.teline_iv .ja-tabs-title-left ul.ja-tabs-title li h3 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 20px;
	margin: 0pt;
	padding-left: 3px;
	padding-top: 4px;
	text-transform: uppercase;
}

.teline_iv .ja-tabs-title-left ul li.active,
.teline_iv .ja-tabs-title-left ul li.firstactive,
.teline_iv .ja-tabs-title-left ul li.lastactive { background: #ffffff none repeat scroll 0%; }

.teline_iv .ja-tabs-title-left ul li.active H3 ,
.teline_iv .ja-tabs-title-left ul li.firstactive H3,
.teline_iv .ja-tabs-title-left ul li.lastactive H3 { background: none; border-bottom: none; color: #006699; }

.teline_iv .ja-tab-panels-left { left: 0px; }

/* JA Tabs right */
.teline_iv .ja-tabs-title-right {
	background: #f7f7f7 none repeat scroll 0%;
	border-left: 1px solid #cccccc;
	height: 100%;
}

.teline_iv .ja-tabs-title-right ul.ja-tabs-title li {
	background: #ebf2f9 none repeat scroll 0%;
	border-bottom: 1px solid #cccccc;
	cursor: pointer;
	height: 30px;
	margin: 0;
	padding: 0;
}

.teline_iv .ja-tabs-title-right ul.ja-tabs-title li h3 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 20px;
	margin: 0pt;
	padding-left: 3px;
	padding-top: 4px;
	text-transform: uppercase;
}

.teline_iv .ja-tabs-title-right ul li.active,
.teline_iv .ja-tabs-title-right ul li.firstactive,
.teline_iv .ja-tabs-title-right ul li.lastactive { background: #ffffff none repeat scroll 0%; }

.teline_iv .ja-tabs-title-right ul li.active H3 ,
.teline_iv .ja-tabs-title-right ul li.firstactive H3,
.teline_iv .ja-tabs-title-right ul li.lastactive H3 { background: none; border-bottom: none; color: #006699; }

.teline_iv .ja-tabs-title-right ul.ja-tabs-title {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0px;
	width: 100%;
}

.teline_iv * html .ja-tabs-title-right ul.ja-tabs-title { right: -1px; /*IE 6*/ }

/* JA Tabs bottom*/
.teline_iv .ja-tabs-title-bottom {
	background: #f7f7f7 none repeat scroll 0%;
	border-top: 1px solid #cccccc;
	height: 30px;
	position: relative;
}

.ja-tabs-title-bottom ul.ja-tabs-title { top: -1px; }

.teline_iv .ja-tabs-title-bottom ul.ja-tabs-title li {
	background: #ebf2f9 none repeat scroll 0%;
	border: 1px solid #cccccc;
	border-top: none;
	cursor: pointer;
	display: block;
	float: left;
	margin: 0pt 1px;
}

.teline_iv .ja-tabs-title-bottom ul.ja-tabs-title li h3 {
	border-color: #f0f0f0;
	border-style: solid solid none;
	border-width: 1px 1px medium;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 20px;
	margin: 0pt;
	padding: 0pt 10px;
	text-transform: uppercase;
}

.teline_iv .ja-tabs-title-bottom ul.ja-tabs-title li.active,
.teline_iv .ja-tabs-title-bottom ul.ja-tabs-title li.firstactive,
.teline_iv .ja-tabs-title-bottom ul.ja-tabs-title li.lastactive {
	background: #ffffff none repeat scroll 0%;
	border-top: 1px solid #ffffff;
}

.teline_iv .ja-tabs-title-bottom ul li.active h3,
.teline_iv .ja-tabs-title-bottom ul li.firstactive h3,
.teline_iv .ja-tabs-title-bottom ul li.lastactive h3 {
	background: none;
	border-bottom: none;
	color: #006699;
	margin: 0pt;
	padding: 0pt 10px;
}