.ja-headlines {
	overflow: hidden;
	width: auto ;
	position: relative !important; height:16px;	
}

.ja-headlines .ja-headlines-item {  
	  text-align: center;
	  visibility: hidden;
	  height:16px;;
}

.ja-headlines .jahl-vertical, .jahl-verticald,
.ja-headlines .jahl-horizontal, .jahl-horizontal_right {
	width: auto;
	display: block;
	position: absolute!important;
}

.ja-headlines .jahl-opacity {
	width: auto;
	display: block;
	position: absolute!important;
	float: left;
}

.ja-headlines .separator { padding: 0 5px; }

a.ja-headelines-pre, a.ja-headelines-next {
	height: 15px;
	width: 15px;
	display: block;
	float: left;
	text-decoration: none !important;
	border: none !important;
}

.ja-headelines-buttons span {
	position: absolute;
	top: -1000px;
}


.ja-headelines-pre {	background: url(but-pre.png) no-repeat top left; padding-right: 5px; }

.ja-headelines-next { background: url(but-next.png) no-repeat top left;	margin-right:12px; }


.ja-headlines-right{ float:left; text-align:right; }
.ja-headelines-buttons{ float:left}