/*
All JobBoard additional stylesheet class will be defined in this file for administrator section 
File name: administrator/components/com_jobboard/css/jobboard.css
*/
.small{
	font-size:10px;
	color:#e9e9e9;
}
.contentpane h3 {
	border-bottom:1px solid #D8D8D8;
	display:block;
	font-size:1.12em;
	font-weight:bold;
	margin:1em 0;
	padding-bottom:5px;
}

.icon-32-export {
	background:url(file-export-32x32.png);
}
.icon-32-upload{
	background:url(file-import-32x32.png);
}
.icon-32-copy{
	background:url(copy-32x32.png);
}
table.adminlist tbody tr.warning td{
	background:#FF5F5F  !important;
}