<head>
<link type="text/css" rel="stylesheet" href="./css/multibox2.css" />
<script type="text/javascript" src="http://www2.dev.joomlart.com/media/system/js/mootools.js"></script>
<script type="text/javascript" src="./js/overlay.js"></script>
<script type="text/javascript" src="./js/multibox.js"></script>
<script type="text/javascript">
/*<![CDATA[*/
window.addEvent('domready', function(){
	var box = new MultiBox('mb', {useOverlay: true});
	var mbox = box;
});
/*]]>*/
</script>
</head>
<body>
<a href="http://joomlart.images.s3.amazonaws.com/stories/templates/joomla/ja_social/ja_social_home.jpg" id="mb2" class="mb" title="Image 2" rel="width:100,height:100">
<img src="http://joomlart.images.s3.amazonaws.com/stories/templates/joomla/ja_social/ja_social_home.jpg" alt="Image 2" title="Image 2" /></a>

<a href="http://joomlart.images.s3.amazonaws.com/stories/templates/magento/jm_painite/jm_painite_thumb_home.jpg" id="mb3" class="mb" title="Image 3" rel="width:500,height:300">
<img src="http://joomlart.images.s3.amazonaws.com/stories/templates/joomla/ja_social/ja_social_home.jpg" alt="Image 3" title="Image 3" /></a>

<a href="./Images/large4.jpg" id="mb4" class="mb" title="Image 4" rel="[images]"><img src="./Images/small4.jpg" alt="Image 4" title="Image 4" /></a>
<div class="multiBoxDesc mb4 mbHidden">This is my description text 4. It can support html.</div>
</body>