.paramlist td { padding: 5px !important; }
 

.block-head {
	margin: 10px -5px 0;
	font-size: 12px;
	color: #333;
	background: url(grad.png) repeat-x top;
	border: 1px solid #ddd;
	border-top: 1px solid #eee;
	padding: 5px;
}

.first {
	margin-top: -10px;
}

.block-des{
	color: #999;
	margin: 0 -5px;
	padding: 5px 5px 0;
}

.paramlist_key {
	background: #fff !important;
	border-right: 1px solid #ddd !important;
	border-bottom: 1px solid #ddd !important;
}

.paramlist_value { background: #fff !important; border-bottom: 1px solid #ddd; }