body{font-family:Arial, Helvetica, sans-serif;font-size:12px;margin:0px;padding:0px;}
.clr{clear:both;}
.fontGreen{color:#526742;}
#container{margin:0px auto;width:1002px;}
/* ----------Header---------- */
#header{float:left;height:345px;margin:0px auto;width:1002px;}
#header .headerLeft{background:url(../images/homeHeaderLeft.jpg) no-repeat;float:left;height:345px;position:relative;width:155px;}
#header .headerLeft ul.nav{list-style:none;margin-top:110px;}
#header .headerLeft ul.nav li{height:40px;line-height:15px;list-style:none;}
#header .headerLeft ul.nav li span{font-size:10px;}
#header .headerLeft ul.nav li a{color:#333333;font-size:13px;font-weight:bold;text-decoration:none;}
#header .headerLeft ul.nav li a:hover{text-decoration:underline;}
#header .headerLeft ul.nav li a.current{ color:#FFF !important;}
#header .headerRight{background:url(../images/homeHeaderRight.jpg) no-repeat;float:left;height:345px;width:847px;}
#header .headerRight .centerNav{float:left;margin-top:280px;}
#header .headerRight .centerNavLeft{background:url(../images/topNavLeft.gif) no-repeat;float:left;height:40px;width:38px;}
#header .headerRight ul.centerNavCenter{background:url(../images/topNavCenter.gif) repeat-x;display:block;float:left;height:40px;list-style:none;margin:0px;padding:0px;width:460px;}
#header .headerRight ul.centerNavCenter li{display:block;float:left;height:18px;list-style:none;margin:2px 10px 0px 0px;width:50px; line-height:18px;}
#header .headerRight ul.centerNavCenter .lineHeight17{ line-height:17px;}
#header .headerRight ul.centerNavCenter li a{font-size:13px;font-weight:bold;letter-spacing:2px;text-decoration:none;}
#header .headerRight ul.centerNavCenter li a:hover{text-decoration:underline;}
#header .headerRight ul.centerNavCenter li a.current{color:#30534a !important;}
#header .headerRight ul.centerNavCenter li a.top{color:#ffffff;}
#header .headerRight ul.centerNavCenter li a.bottom{color:#ffffff;}
#header .headerRight .centerNavRight{background:url(../images/topNavRight.gif) no-repeat;float:left;height:40px;width:38px;}
#header .headerRight .search{_height:28px;background-color:#4B8D7F;float:left;height:26px;margin-top:290px;position:relative;width:200px;_width:220px;}
#header .headerRight .search input{_margin:2px;_width:140px;border:none;display:block;float:left;height:18px;margin:3px;width:150px;}
#header .headerRight .search a{_right:5px;color:#FFF;display:inline-block;font-size:13px;font-weight:bold;height:18px;margin:3px 0px 0px 3px;position:absolute;right:18px;text-decoration:none;top:2px;width:20px;}
/* ----------Layout---------- */
#containerLeft{float:left;margin:0px 10px 0px 0px;width:295px;}
#containerRight{float:left;margin:0px 0px 0px 0px;width:680px;}
#containerPolicy{float:left;margin:0px 10px 0px 0px;width:1002px; background:url(../images/policy.jpg) no-repeat; height:958px;}
#containerResult{float:left;margin:0px 10px 0px 0px;width:1002px; background:url(../images/resultBG.jpg) no-repeat bottom right; height:auto;}
#containerCenterNews{float:left;margin:0px 10px 0px 0px;width:1002px; height:auto;}
.centerNewsContext{ width:650px; margin:0px auto; line-height:20px}
.centerNewsContext .title{ height:150px; background:url(../images/centerNewsTitle.jpg) left top no-repeat;}
.centerNewsContext .title .word{ width:300px; height:150px; padding-top:50px; float:right; text-align:center; font-size:18px; font-weight:bold; line-height:25px;}
.centerNewsContext p{}
.centerNewsContext .image{ width:332px; height:231px; background:url(../images/centerNewsDemo.jpg); float:left; margin:0px 5px 5px 5px;}
.resultContext{ width:650px; margin:0px auto; padding-bottom:300px;}
.resultContext .infoList{ position:relative;}
.resultContext .title{ font-size:18px; font-weight:bold; color:#30534a; margin-bottom:15px; line-height:22px;}
.resultContext .resultInfoTable td{ text-align:center !important}
#footer{background:url(../images/footerBackground.jpg);clear:both;float:left;height:76px;width:1002px; position:relative}
#footer .logo{ background:url(../images/footerLogo.jpg) no-repeat; height:45px; width:250px; position:absolute; top:20px; left:250px; padding-left:45px; font-size:12px; color:#000; font-weight:bold; padding-top:5px; line-height:15px; letter-spacing:2px;}
/* ----------Video page---------- */
.rankingTitle{background:url(../images/rankingTitle.jpg) no-repeat;float:left;height:75px;width:295px;}
.rankingList{background:url(../images/dotLine.jpg) repeat-x 0 100%;float:left;margin-top:10px;width:295px;}
.subPageRankingList{ width:335px !important;}
.subPageRankingList .rankingListPic{background:url(../images/subPageRankingList.jpg) no-repeat !important;height:120px !important;width:120px !important;}
.noDotLine{background:none !important;}
.rankingList .title{color:#333333;float:left;font-size:12px;font-weight:bold;margin-bottom:10px;width:295px; line-height:20px}
.rankingList .title a{color:#333333; text-decoration:none}
.rankingList .title a:hover{ text-decoration:underline}
.rankingList .rankingListPic{background:url(../images/rankingListPic.jpg) no-repeat;float:left;height:79px;margin-bottom:10px;width:79px;}
.rankingList .comment, .rankingList ul{display:block;float:left;list-style:none;margin:0px;margin-bottom:10px;padding:0px;width:210px;}
.rankingList ul li{letter-spacing:2px;line-height:22px;list-style:none;padding-left:30px;width:180px;}
.rankingList ul li a{text-decoration:none;}
.videoContainer{background:url(../images/videoBackground.jpg) repeat-x;float:left;height:410px;margin:10px 0px 0px 0px;width:672px;}
.videoContainer .video{background:url(../images/videoDemo.jpg) no-repeat;float:left;height:375px;margin:28px 0px 0px 5px;width:471px;}
.videoContainer .indexVideo{background:url(../images/videoDemoForIndex.jpg) no-repeat !important;}
.videoContainer .titleImage{ background:url(../images/indexVideoTitle.gif) no-repeat; width:117px; height:53px;}
.videoContainer .description{color:#FFF;float:left;font-size:13px;font-weight:bold;line-height:23px;margin:28px 0px 0px 10px;padding:0px;width:170px;}
.videoContainer .description .title{ font-size:16px; font-weight:bold; padding-left:10px;}
.videoContainer .description ul{ display:block; padding:0px; margin:0px; list-style:none; width:189px;}
.videoContainer .description ul li{ width:157px; height:22px; margin: 10px 0px; background:url(../images/videoListBG.gif) no-repeat; color:#FFF; list-style:none; float:left; position:relative; padding-left:32px; font-size:12px;}
.videoContainer .description ul li a{ text-decoration:none; color:#FFF}
.videoContainer .description ul li a:hover{ text-decoration:underline}
.videoContainer .description ul li .number{ position:absolute; top:-5px; left:16px; color:#FFF; font-size:12px; font-weight:bold;}
.videoTitle{background:url(../images/videoTitle.jpg) no-repeat;float:left;height:21px;margin:15px 0px 0px 0px;padding-left:10px;width:660px;}
.videoItem{float:left;}
.videoImage{background:url(../images/videoList.jpg) no-repeat;height:67px;margin:20px 0px 0px 20px;width:88px;}
.relatedTitle{float:left;margin:0 0 0 20px;}
/* ----------Sub page---------- */
.subPageRankingTitle{background:url(../images/subPageRanking.gif) no-repeat;float:left;height:45px;width:295px;}
.newUploadTitle{background:url(../images/newUpload.jpg) no-repeat;float:left;height:44px;width:295px; margin-top:10px}
.greenNumberList{ background:url(../images/greenNumber.jpg) repeat-y !important; }
ul.commonRankingList{float:left;width:260px; padding:0px; margin:10px 0px 0px 0px; background:url(../images/rankingNumber.jpg) left top no-repeat; padding-left:35px;}
ul.commonRankingList li{letter-spacing:2px;line-height:26px;list-style:none;;width:250px;font-size:12px; font-weight:bold; display:inline-block; height:26px;float:left; padding:0px; margin:0px;}
ul.commonRankingList li a{ text-decoration:none; color:#333; display:block; float:left; width:81%;}
ul.commonRankingList li .type{width:18%; display:block; float:left; text-align:right;}
ul.commonRankingList li a:hover{ text-decoration:underline;}
.subPageRightTitle{width:672px; height:34px; background:url(../images/subPageTitle.jpg) no-repeat; margin:0px; padding:0px}
.subPageRightLittleTitle{ width:520px; height:23px; background:url(../images/subPageLittleTitle.jpg) no-repeat  20px 0px; padding-left:150px; font-size:18px; font-weight:bold; letter-spacing:3px; line-height:20px; margin-top:10px; color:#4a6137;}
.subPageRightLittleTitle a{color:#4a6137; text-decoration:none}
.subPageRightList{width:680px;}
/* ----------index page---------- */
.indexContainerLeftL{ width:290px; float:left}
.indexContainerLeftL .infoList{ width:280px; float:left;background:url(../images/dotLine.jpg) repeat-x 0 100%;}
.indexContainerLeftL .infoList .title{width:280px; float:left; height:20px; font-size:18px; font-weight:bold; letter-spacing:3px; line-height:20px; color:#486036; margin-top:10px;}
.indexContainerLeftL .infoList .title span{ font-size:11px; font-weight:bold; letter-spacing:3px; color:#afcf18; letter-spacing:0px;}
.infoList ul{ margin:0px; padding:0px; width:100%; padding-bottom:10px; float:left}
.infoList ul li{margin:0px; padding:0px; width:95%; float:left; list-style:none; line-height:14px; height:14px;margin-top:10px; font-weight:bold; letter-spacing:2px;}
.infoList ul li a{ text-decoration:none; color:#333;}
.infoList ul li a:hover{ text-decoration:underline;}
.indexContainerLeftL .infoList div.wallNewspaper{ margin:0px; padding:0px; width:100%; padding-bottom:10px; float:left;background:url(../images/wallNewspaper.jpg) no-repeat !important;}
.indexContainerLeftL .infoList div.wallNewspaper p{ margin-left:80px; font-size:12px; font-weight:bold; line-height:18px; color:#333;}
.indexContainerLeftR{ width:370px; float:left; margin-left:10px;}
.indexContainerLeftR .survey { width:auto !important; height:auto !important; background:url() !important;}
.survey .title{margin-left:0px !important;}
.survey  ul li{margin-left:0px !important;}
.indexContainerLeftL .infoList div.wallNewspaper{ margin:0px; padding:0px; width:100%; padding-bottom:10px; float:left;background:url(../images/wallNewspaper.jpg) no-repeat !important;}
.indexContainerLeftL .infoList ul li{ font-size:14px; }
.indexContainerLeftL .infoList ul li a{line-height:16px !important}
.indexContainerLeftR .centerNews ul li{ font-size:14px;}
.indexContainerLeftR .centerNews ul li a{line-height:16px !important}
.indexContainerLeftL .infoList div.wallNewspaper p{ margin-left:80px; font-size:12px; font-weight:bold; line-height:20px; color:#333;}
.indexContainerLeftR{ width:370px; float:left; margin-left:10px;}
.indexContainerLeftR .infoList{ width:370px; float:left; height:448px; background:url(../images/centerNews.jpg) no-repeat 0px -1px;}
.indexContainerLeftR .infoList .title{width:340px; float:left; height:20px; font-size:18px; font-weight:bold; letter-spacing:3px; line-height:18px; color:#486036; margin-top:10px; margin-left:30px; _margin-left:15px}
.indexContainerLeftR .infoList .title span{ font-size:11px; font-weight:bold; letter-spacing:3px; color:#afcf18; letter-spacing:0px;}
.indexContainerLeftR .infoList ul{ margin:0px; padding:0px; width:100%; padding-bottom:10px; float:left}
.indexContainerLeftR .infoList ul li{margin:0px; padding:0px; width:90%; float:left; list-style:none; line-height:12px; margin-top:10px; font-weight:bold; letter-spacing:2px; margin-left:30px; _margin-left:15px}
.indexContainerLeftR .infoList ul li a{ text-decoration:none; color:#333;}
.indexContainerLeftR .infoList ul li a:hover{ text-decoration:underline;}
.indexContainerLeftR .infoList .title span{ font-size:11px; font-weight:bold; letter-spacing:3px; color:#afcf18; letter-spacing:0px;}
.indexContainerLeftR .infoList ul{ margin:0px; padding:0px; width:340px !important; padding-bottom:10px; float:left; padding-left:30px !important;}
.indexContainerLeftR .centerNews{ width:370px; float:left; height:448px; background:url(../images/centerNews.jpg) no-repeat 0px -1px;}
.indexContainerLeftR .centerNews .title{width:340px; float:left; height:20px; font-size:18px; font-weight:bold; letter-spacing:3px; line-height:18px; color:#486036; margin-top:10px; margin-left:30px; _margin-left:15px; padding-left:0px !important;}
.indexContainerLeftR .centerNews .title span{ font-size:11px; font-weight:bold; letter-spacing:3px; color:#afcf18; letter-spacing:0px;}
.indexContainerLeftR .centerNews ul{ margin:0px !important; padding:0 0 10px 0 !important; width:100%; padding-bottom:10px; float:left}
.indexContainerLeftR .centerNews ul li{margin:0px; padding:0px; width:90%; float:left; list-style:none; line-height:12px; margin-top:8px; font-weight:bold; letter-spacing:2px; margin-left:30px; _margin-left:15px}
.indexContainerLeftR .centerNews ul li a{ text-decoration:none; color:#333;}
.indexContainerLeftR .centerNews ul li a:hover{ text-decoration:underline;}
.indexContainerLeftR .timer{ width:370px; height:73px; background:url(../images/timer.gif) no-repeat 50%; float:left; margin-top:10px }
.indexContainerLeftR .timer .number{ width:200px; margin-top:25px; margin-left:130px;}
.indexContainerLeftR .timer .number div{ width:200px; font-size:12px; font-weight:bold; color:#fff; line-height:13px; margin-bottom:10px;}
.indexContainerLeftR .timer .number div span{ display:inline-block; background-color:#FFF; color:#008032;font-size:12px; font-weight:bold; letter-spacing:2px;}
.indexContainerLeftR .infoList .title{width:350px; float:left; height:20px; font-size:18px; font-weight:bold; letter-spacing:3px; line-height:20px; color:#486036; margin-top:10px; padding-left:20px; position:relative}
input.submit{ background:url(../images/submitBtn.gif) no-repeat center; border:0px; width:45px; height:25px; display:block;font-size:0;line-height:0;text-indent:-9999px; cursor:pointer; position:absolute; top:0px; right:80px}
input.result{ background:url(../images/resultBtn.gif) no-repeat center; border:0px; width:56px; height:22px; display:block;font-size:0;line-height:0;text-indent:-9999px; cursor:pointer; position:absolute; top:0px; right:10px}
input.accept{ background:url(../images/acceptBtn.gif) no-repeat center; border:0px; width:57px; height:23px; display:block;font-size:0;line-height:0;text-indent:-9999px; cursor:pointer; position:absolute; top:0px; right:10px}
.resultInfoTable th{ margin:5px; text-align:center; font-size:12px; font-weight:bold; height:25px;}
.resultInfoTable td{ margin:5px; text-align:left; font-size:12px; height:25px;}
/* ----------show page---------- */
.showPageContainer{ background:url(../images/showPageBG.jpg) no-repeat; width:692px !important; height:724px !important; margin:0px !important; position:relative;}
.showPageContainer .leftTitle{ position:absolute; width:25px; height:200px; top:35px;left:25px; layout-flow: vertical-ideographic;writing-mode: tb-rl; font-size:14px; font-weight:bold; line-height:18px; color:#526742;}
@-moz-document url-prefix(){.showPageContainer .leftTitle{left:33px !important;}}
.showPageContainer .bottomNumber{ width:15px; height:15px; position:absolute; left:386px; bottom:88px; font-size:13px; font-weight:bold; color:#FFF; text-align:center; background-color:#102512}
.showPageContainer .nextPage{ height:17px; background:url(../images/nextPage.jpg) no-repeat 100% 0; padding-right:25px; position:absolute; right:60px; bottom:30px; font-size:13px; font-weight:bold;}
.showPageContainer .nextPage a{ text-decoration:none; color:#333;}
.showPageContainer .nextPage a:hover{ text-decoration:underline;}
.showPageContainer .previewPage{ height:17px; background:url(../images/previewPage.jpg) no-repeat 0 0; padding-left:25px; position:absolute; left:120px; bottom:30px; font-size:13px; font-weight:bold;}
.showPageContainer .previewPage a{ text-decoration:none; color:#333;}
.showPageContainer .previewPage a:hover{ text-decoration:underline;}

.showPageContainer .content{ float:right; width:540px; height:660px; margin-right:22px; background:url(../images/showPageContentBG.jpg) bottom no-repeat;}
.showPageContainer .content p{ float:left; font-size:14px; line-height:26px; margin-top:10px; width:380px;word-wrap: break-word;
word-break: normal; }
.showPageContainer .content .title{ width:100%; height:30px;float:left; margin-top:30px; font-size:22px; font-weight:bold;}
/* ----------policy page---------- */
.policyContext{ width:350px; height:500px; margin:80px 0px 0px 370px;}
.policyContext .title{width:340px;height:20px; font-size:18px; font-weight:bold; letter-spacing:3px; line-height:20px; color:#486036; margin-top:10px;}
.policyContext .title span{ font-size:11px; font-weight:bold; letter-spacing:3px; color:#afcf18; letter-spacing:0px;}
.policyContext p{ font-size:13px; font-weight:bold; color:#333; line-height:20px;}
.resultInfoTable {_position:relative}
.resultInfoTable th.firstThead{_padding-left:90px;text-align:center; width:160px;}
.resultInfoTable th.secondThead{_padding-left:90px;text-align:left; width:110px;}
.resultInfoTable dd{margin:0;padding:0; }
.resultInfoTable dd{width:80px;height:12px;position:relative; border:1px #ccc solid;float:left;  }
.resultInfoTable dd span{position:absolute;display:block;width:80px;height:12px;background:url(../images/bar.gif) no-repeat 0 0;top:0px;left:0px;overflow:hidden;text-indent:-8000px;}
.resultInfoTable dd em{position:absolute;display:block;width:80px;height:12px;background:url(../images/bg_cover.gif) repeat-x;top:0;}
.resultInfoTable dt{ float:left; margin-left:20px;}