#login-footer-text div.login-area {height:62px;margin-top:-2px;}
#win{background:url(icn_logos_v2.gif) 0 0 no-repeat;margin-left:-48px;}
#yahoo{background:url(icn_logos_v2.gif) 0 -39px no-repeat;margin-left:-11px;}
#google{background:url(icn_logos_v2.gif) 0 -78px no-repeat;margin-left:26px;margin-top:-28px;}
#sign-in-logos a#open{background:url(icn_logos_v2.gif) 3px -117px no-repeat;height:40px;}
