@charset "UTF-8";
body{background:url(bg.gif) repeat-x #FFFFFF 0 -10px;margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;font-size:0.75em;color:#353535;}
h1{padding:0;margin:0;color:#ff5500;font-size:2.1667em;font-weight:300;}
h2{font-weight:bold;font-size:1.1667em;margin:0;padding:0;}
p{margin:0;padding:0;}
.orange{color:#ff5500;}
.black{color:#333333;}
.hidden{display:none;}
label.hidden{display:none;}
legend{display:none;}
fieldset{border:0;margin:0;padding:0;margin-bottom:1px;}
#header{position:relative;left:93px;height:100px;width:832px;}
#sign-in-container{margin-left:63px;max-width:830px;}
#help{float:left;position:relative;width:830px;z-index:100;}
#aide-cont{float:right;margin:0 25px 0 0;position:absolute;top:-8px;width:369px;right:0;display:none;z-index:100;}
div.tab-cont{position:relative;height:34px;top:-1px;z-index:10;float:right;right:15px;width:70px;}
div.tab-left{background:url(bg_tab.gif) 0 0 no-repeat;height:34px;left:0;width:6px;position:absolute;float:left;}
div.tab-right{background:url(bg_tab.gif) -6px 0 no-repeat;height:34px;width:6px;position:absolute;float:right;	right:0;}
#aide-cont h2{border-top:1px solid #b7b7b7;background:#f7f7f7;height:20px;float:right;padding:8px 10px 12px 10px;}
#aide-cont h2 a{margin:0 0 0 0;background:url(icn_arrow-right.gif) no-repeat 0 3px;padding:0 0 0 20px;text-decoration:none;color:#333333;}
div.tab-bg{clear:right;background:#d1d1d1 3px 3px;}
div.tab-content{border:1px solid #b7b7b7;background:#f7f7f7;position:relative;top:-2px;left:-1px;margin-top:-7px;}
div.tab-content p{padding:10px;font-size:0.917em;}
#aide{float:right;margin:0 50px 0 0;-margin:0 43px 0 0;background:url(icn_arrow-right.gif) no-repeat 0 3px;padding:0 0 0 20px;text-decoration:none;color:#333333;position:relative;}
#aide:hover{color:#ff6600;}
#sign-in-header{height:84px;width:830px;}
#sign-in-header h1{padding-top:1px;margin-top:0;margin-bottom:0;}
#login-container{clear:both;position:relative;}
#large-login-container{clear:left;float:left;position:absolute;width:268px;padding-bottom:20px;}
#large-login-bg{float:left;margin: 5px 0 0 1px !important;margin: 6px 0 0 2px;top:5px;left:0;}
#large-login-bg.active{float:left;background: #8c8c8c 4px 4px;}
#large-login{border:1px solid #b7b7b7;width:268px;min-height:263px;height:auto !important;background:#FFFFFF;padding:2px;position:relative;top:-3px;left:-3px;}
#large-login a.close{float:right;background:url(icn_close.gif) no-repeat;height:12px;width:12px;display:block;}
#large-login h2{color:#ff5500;font-size:1.5em;font-weight:300;padding:0;margin:2px 20px 10px 20px;}
#large-login img.Mobile{margin:0 0 7px 10px;-margin:0 0 7px 5px;}
#large-login img{margin:0 0 7px 20px;}
#large-login p{margin-left:20px;margin-right:20px;font-size:0.917em;}
#large-login p.orange{font-size:1.1083em;color:#ff5500;}
#large-login form dd p{margin-left:0;	margin-right:0;color:#33333;margin-top:3px;margin-bottom:1px;} 
#large-login form p.orange{line-height:11px;font-size:0.917em;}
#large-login a.forgotten-password{font-size:0.917em;float:right;color:#333333;}
#large-login form{margin:2px 20px 0 20px;padding:0;position:relative;}
#large-login form input{margin:0;padding:0;}
#large-login form input.focus{border:1px solid #fd5907;}
#sign-in-container form dl{margin:0;padding:0;}
#sign-in-container form dl dd{margin:0;padding:0;}
div.valider-mask{height:26px;overflow:hidden;position:relative;}
div.valider-mask img{position:relative;top:5px;left:15px;}
div.valider-mask-small{height:21px;overflow:hidden;position:relative;}
#large-login form div.valider-mask{top:2px;}
#large-login form input#valider{float:right;width:64px;display:inline-block;border:0;margin-right:15px;}
#large-login #initial-form form input#valider{margin-right:0;}
#initial-form{padding-bottom:3px;}
#large-login form input#valider.active{margin-top:-26px;border:0;}
#large-login form input.email:focus{color:#353535;border:1px solid #fd5907;height:22px;width:228px;padding:2px 0 2px 0;margin:5px 0 5px 0;}
#large-login form input.email{color:#353535;border:1px solid #a2a2a2;height:22px;	width:228px;padding:2px 0 2px 0;	margin:5px 0 5px 0;}
#large-login form input.email2{color:#353535;border:1px solid #a2a2a2;	height:16px;width:147px;	float:left;	padding:2px 0 2px 0;margin:5px 0 5px 0;}
#large-login form input.password:focus{color:#353535;	border:1px solid #fd5907;	background:transparent url(http://img-m.woopic.com/auth_user/images/sprites/sprites-ie.gif) no-repeat scroll 110px -25px;height:22px;width:155px;padding:2px 0 2px 0;margin:5px 0 0 0;left:0;}
#large-login form input.password{color:#353535;border:1px solid #a2a2a2;float:left;	background:transparent url(http://img-m.woopic.com/auth_user/images/sprites/sprites-ie.gif) no-repeat scroll 110px -25px;height:22px;width:155px;padding:2px 0 2px 0;margin:5px 0 0 0;left:0;}
#large-login form input.check{clear:left;float:left;position:relative;padding:0;margin:6px 0 0 0;}
#large-login form span{font-size:0.917em;float:left;position:relative;left:5px;-left:3px;top:7px;padding:0 0 7px 0;line-height:12px;}
#large-login form label.checkbox-lbl{padding:0;margin:0;}
#profile-right-container{position:relative;max-width:500px;left:294px;}
#aux-login-bg{float:left;clear:both;position:relative;top:5px;left:5px;-left:0;}
#aux-login-bg.active{background:#8c8c8c 3px 3px;}
#aux-login{width:481px;border:1px solid #bfbfbf;background:#FFFFFF;padding-bottom:10px;position:relative;top:-3px;left:-4px;}
#aux-login h2{color:#ff5500;font-size:1.5em;font-weight:300;margin:4px 18px 20px 18px;}
#aux-login h3{margin:14px 7px 8px 7px;font-size:0.917em;}
#aux-login p{margin:0 7px 0 7px;-margin:0 3px 0 7px;line-height:14px;font-size:0.917em;padding:0;}
#aux-login a{acolor:#ff5500;}
#aux-login div.login-confirm p{margin:0 0 9px 7px;-margin:20px 0 9px 7px;}
#user_mobile_pass, #user_int_pass{float:left;border:1px solid #a2a2a2;margin-left:8px;height:100px;}
#login-pass{border:1px solid #999999;padding:13px 13px 13px 6px;position:relative;}
#login-pass img.mobile{padding-bottom:17px;}
#login-pass img.info{float:left;padding-right:11px;}
#login-arrows{position:relative;background:url(arrows-login.gif) no-repeat;width:29px;height:32px;margin-left:-35px;margin-top:-33px;}
.login-confirm{padding:0 18px 0 14px;}
.login-confirm a.black{text-decoration:underline;}
.login-confirm h3{margin:4px 0 5px 0;}
.login-confirm a{color:#000000;text-decoration:none;}
.login-confirm a:hover, #login-mobile-confirm span.orange{color:#ff5500;}
.login-confirm form{margin-bottom:7px;}
.login-confirm form input#user_mobile{width:199px;border:1px solid #a2a2a2;float:left;position:relative;margin-left:8px;top:3px;}
.login-confirm form input.check{float:left;	clear:left;position:relative;top:7px;border:none;}
.login-confirm form span{font-size:0.917em;float:left;position:relative;top:10px;	margin-left:3px;}
.login-confirm form input#user_mobile.focus{border:1px solid #ff5500;}
.login-confirm form input#user_email_login{width:199px;border:1px solid #a2a2a2;float:left;position:relative;top:3px;margin-left:8px;}
.login-confirm form input#user_email_login.focus{border:1px solid #ff5500;}
.sidentifier{display:inline-block;height:21px;width:78px;background:url(btn_sidentifier.jpg) 0 0 no-repeat;position:relative;top:6px;left:12px;}
input.valider, .valider-button, #large-login .valider-button{background:url(btn_valider.gif) 0 0 no-repeat;width:64px;display:inline-block;border:0;position:relative;	left:12px;}
#aux-login-bg.active input.valider, #large-login-bg.active input.valider-button{margin-top:-26px;border:0;}
input.valider-small{background:url(btn_valider_small.gif) 0 0 no-repeat;width:55px;display:inline-block;border:0;position:relative;left:12px;}
#aux-login-bg.active input.valider-small{margin-top:-21px;border:0;}
div.active .sidentifier{background:url(btn_sidentifier.jpg) 0 -21px no-repeat;}
#login-mobile, #login-internet, #login-fixe{border-bottom:1px solid #bfbfbf;width:450px;min-height:60px;margin-left:14px;margin-bottom:4px;}
#login-mobile{padding-bottom:1px;}
#login-mobile h3{margin-top:13px;	margin-bottom:7px;}
#login-internet h3{margin-top:9px;margin-bottom:6px;}
#login-internet{margin-bottom:2px;}
#login-internet p{line-height:13px;margin-bottom:7px;}
#login-fixe h3{margin-top:11px;}
#login-fixe-text{width:410px;}
#login-fixe-text h3{margin-bottom:6px;}
#login-fixe-text p{line-height:12px;margin-bottom:18px;line-height:13px;}
#login-mobile img, #login-internet img, #login-fixe img{margin-right:12px;}
#login-fixe img{margin-right:0px;}
#login-fixe-text {margin-left:53px;}
#login-internet img{padding-bottom:3px;}
#login-footer-text{margin:0 14px 0px 14px;}
#login-footer-text h3{margin-top:13px;margin-bottom:6px;}
#login-footer-text p{line-height:12px;margin-bottom:1px;}
#login-footer-text p.sign-in-text {margin-top:7px;}
#login-footer-text div.login-area {height:50px;margin-top:-2px;margin-bottom:-13px;}
#sign-in-logos{float:left;margin-left:233px;position:absolute;margin-top:-40px;}
#sign-in-logos a{display:block;float:left;height:28px;width:39px;top:5px;position:relative;}
#sign-in-logos a img{border:0;}
#win{background:url(icn_logos.gif) 0 0 no-repeat;margin-left:-50px;}
#yahoo{background:url(icn_logos.gif) 0 -39px no-repeat;margin-left:-11px;}
#google{background:url(icn_logos.gif) 0 -78px no-repeat;}
#sign-in-logos a#open{background:url(icn_logos.gif) 3px -117px no-repeat;height:40px;}
#sign-in-logos a#open:focus, #sign-in-logos a#open:active{outline: none;}
#sign-in-logos a#open.select{background:url(icn_openid-sel.gif) 0 0 no-repeat;top:-7px;position:relative;z-index:10;}
#sign-in-footer-text p{font-size:0.917em;float:left;}
#sign-in-footer-text a{color:#ff5500;}
#ext-login-bg{display:none;margin-bottom:14px;position:relative;z-index:0;}
#ext-login{width:331px;border:1px solid #b7b7b7;background:url(bg_aux-login.gif) repeat-x #fafafa;margin-left:26px;position:relative;clear:left;top:-3px;}
#ext-login p{margin-left:29px;margin-bottom:9px;}
div.clear{clear:both;}
div.error-container-small{width:241px;position:relative;margin-bottom:-5px;margin-left:12px;}
#sign-in-form{margin-bottom:10px;}
#sign-in-form form div.error-container-small{width:241px;position:relative;margin-bottom:-3px;margin-left:-6px;}
#mobile1, #mobile2{display:none;}
#mobile2 p{margin-bottom:8px;}
#large-login-bg.active #mobile2 input.password{border-color:#fd5907;}
#large-login-bg.active #mobile2 input.disabled{border-color:#acacac;}
div.error-container-small div.error-top{background:url(bg_error-small.gif) 0 0 no-repeat;height:6px;}
div.error-container-small div.error-bottom{background:url(bg_error-small.gif) 0 -6px no-repeat;height:23px;}
div.error-container-small div.error-middle{background:url(bg_error-small-mid.gif) repeat-y;}
div.error-container-large{width:317px;margin-top:10px;margin-left:9px;position:relative;margin-bottom:-1px;}
div.error-container-large div.error-top{background:url(bg_error-large.gif) 0 0 no-repeat;height:8px;}
div.error-container-large div.error-bottom{background:url(bg_error-large.gif) 0 -8px no-repeat;height:21px;}
div.error-container-large div.error-middle{background:url(bg_error-large-mid.gif) repeat-y;}
div.error-middle img{float:left;margin:0 0 0 11px;padding-right:13px;padding-top:10px;}
#aux-login div.error-middle p{margin:0;}
#aux-login div.error-middle p.title{padding-top:3px;}
#aux-login div.error-middle img{padding-top:4px;}
div.error-middle p.title{color:#ff5500;font-weight:bold;padding-top:8px;}
#ext-login {margin-left:70px;top:-8px;}
#login-footer-text div{margin-bottom:-8px;}
#ext-login form{padding-bottom:14px;}
#ext-login form input.email{margin-left:26px;border:1px solid #fd5907;width:216px;float:left;}
#ext-login div.valider-mask-small{top:-2px;}
input.disabled{color:#fecabc;}
#aux-account-bg{float:left;clear:both;background:#8c8c8c 3px 3px;position:relative;top:5px;left:5px;}
#aux-account{width:404px;border:1px solid #bfbfbf;background:url(bg_aux-login.gif) repeat-x #FFFFFF;padding-bottom:10px;position:relative;top:-3px;left:-3px;}
#aux-account h2{color:#ff5500;font-size:1.5em;font-weight:300;padding:0;margin:10px 20px 10px 20px;}
#aux-account p, #aux-account h3{margin:10px 20px 10px 20px;}
#aux-account a{text-decoration:none;color:#000000;}
#aux-account a:hover{text-decoration:underline;}
#aux-bott{border:1px solid #bfbfbf;width:365px;margin-left:20px;background:url(bg_mobile-internet.gif) repeat-x #FFFFFF;position:relative;}
#aux-bott p, #aux-bott h3{margin-left:15px;margin-right:77px;}
#aux-img{right:0;	position:absolute;top:98px;}
#continue{background:url(btn_continuer.gif) no-repeat;height:26px;display:block;width:77px;margin-top:5px;margin-bottom:10px;margin-left:15px;}
#continue span{display:none;}
#email-error div.error-middle p, #password-error div.error-middle p, div.error-middle p{margin-left:65px;margin-right:10px;font-size:0.917em;}
div.error-middle p.message{padding-bottom:6px;}
#large-login form input#save_TC{border:0 none;}
#password-anchor{float:left;height:15px;width:147px;padding:2px 0 2px 0;margin:5px 0 0 0;left:0;}
.messageIcon{width:46px;height:50px;min-height:50px;max-height:50px;background: url( http://img-m.woopic.com/auth_user/images/sprites/sprites-ie.gif ) no-repeat left 20px;background-position: -20px -688px;}
#header{position:relative;left:20px;height:100px;width:832px;}
.logo{position:relative;float:left;width:auto;height:90px;background: url( http://img-m.woopic.com/auth_user/images/sprites/sprites-ie.gif ) no-repeat left 20px;background-position:-25px -1014px;white-space:nowrap;}
.logo img{border:0;}
.logo .logolink{border:1px;float:left;margin-top:20px;padding-right:35px;position:relative;width:44px;height:44px;clear:none;display:inline;}
.logo .banner{display:inline;clear:none}
.footer{display:block;clear:both;border-top:3px solid #ff6600;min-width:920px;line-height:22px;padding: 5px 20px 0 25px;text-align:left;font-size:0.917em;color: #ff6600;margin: 180px 0 0 0 !important;margin: 195px 0 0 0 ;font-family: Helvetica, Arial, sans-serif;}
.footer ul#listBottom{display:block;width:920px;list-style-image:none;list-style-position:outside;list-style-type:none;padding:0;margin:0;}
.footer ul li{float:left;padding-top:0.4em;vertical-align:top;}
.footer a{font-size:0.917em;color:#333333;cursor:pointer;text-decoration:underline;}
.footer a:link{color:#333333;}
/* .footer ul li.eft{padding-left:0pt;padding-top:0pt;width:4.0em;}
li.eft{background:url(http://img-m.woopic.com/auth_user/images/sprites/sprites-ie.gif) repeat  -25px -963px;padding:0pt;margin:0pt;}
li.eft a img{border:none;width:21px;height:22px;}
*/
.info .icon{background:url(http://img-m.woopic.com/auth_user/images/sprites/sprites-ie.gif) no-repeat -25px -615px;overflow:hidden;width:36px;height:34px } 
.tile{margin:0;border:0;padding:0;font-size:0;position:absolute;background-repeat:repeat;background-position:left top;}
#login-pass img.infoIcon{background:transparent url(http://img-m.woopic.com/auth_user/images/sprites/sprites-ie.gif) no-repeat -25px -615px;float:left;padding-right:11px;margin-top:-4px;}
.infoIcon, #large-login img.infoIcon{background:transparent url(http://img-m.woopic.com/auth_user/images/sprites/sprites-ie.gif) no-repeat -25px -615px;overflow:hidden;width:36px;height:34px;margin:10px 10px 10px 16px;padding:0;display:block;} 
.smsIcon, #large-login img.smsIcon{background:transparent url(http://img-m.woopic.com/auth_user/images/sprites/sprites-ie.gif) no-repeat scroll -25px -865px;overflow:hidden;height:49px;width:54px;margin:10px 5px 5px 5px;padding:0;display:block;} 
.mailIcon, #large-login img.mailIcon{background:transparent url(http://img-m.woopic.com/auth_user/images/sprites/sprites-ie.gif) -25px -793px;overflow:hidden;height:23px;width:57px;margin:10px 5px 5px 5px;padding:0;display:block;} 
.rightArrow{background:transparent url(http://img-m.woopic.com/auth_user/images/sprites/sprites-ie.gif) no-repeat scroll -20px -1123px;height:8px;width:8px;border-style:none;padding-top:4px;} 
#ext-login p label{position:relative;top:4px;}
#password-container .sign-in-password{margin-top:1px;margin-bottom:0;}
#login-checkboxes label#label_mem_user span{margin-top:1px;margin-bottom:3px;}
#password-error div.error-top{margin-bottom:-3px;}
