﻿@charset "utf-8";


#top {
	height: 333px;
	width: 1002px;
	margin: auto;
}
#top .t1 {
	background-image: url(pic/top1.jpg);
	margin: 0px;
	float: left;
	height: 229px;
	width: 1002px;
	background-color: #2FA8C7;
}
#top .t2 .t2_2 {
	background-image: url(pic/top2-2.jpg);
	float: left;
	height: 47px;
	width: 166px;
	margin-top: 11px;
}

#top .t2 {
	background-image: url(pic/top2.jpg);
	margin: 0px;
	float: left;
	height: 66px;
	width: 1002px;
	background-color: #BFDAED;
}
#top .t3 {
	background-image: url(pic/top3.jpg);
	margin: 0px;
	float: left;
	height: 38px;
	width: 1002px;
	background-color: #2295CB;
}
#top .t3 .t3_1 {
	height: 20px;
	margin-top: 6px;
	margin-left: 20px;
	width: 135px;
	font-family: "宋体";
	font-size: 14px;
	float: left;
}
#top .t3 .t3_2 {
	font-family: "宋体";
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	float: left;
	height: 20px;
	width: 90px;
	margin-top: 8px;
	margin-left: 15px;
}
#top .t3 .t3_3 {
	background-image: url(pic/top3-3.jpg);
	height: 34px;
	width: 86px;
	float: left;
	margin-left: 12px;
	margin-top: 2px;
}
#top .t3 .t3_4 {
	font-family: "宋体";
	font-size: 16px;
	float: right;
	height: 20px;
	width: 150px;
	margin-right: 10px;
	margin-top: 10px;
}
#top .t2 div{
	cursor: pointer;
}
#top .t2 .t2_1 {
	background-image: url(pic/top2-1.jpg);
	height: 47px;
	width: 166px;
	margin-top: 11px;
	float: left;
}
#top .t2 .t2_3 {
	background-image: url(pic/top2-3.jpg);
	float: left;
	height: 47px;
	width: 166px;
	margin-top: 11px;
}
#top .t2 .t2_4 {
	background-image: url(pic/top2-4.jpg);
	float: left;
	height: 47px;
	width: 166px;
	margin-top: 11px;
}
#top .t2 .t2_5 {
	background-image: url(pic/top2-5.jpg);
	float: left;
	height: 47px;
	width: 166px;
	margin-top: 11px;
}
#top .t2 .t2_6 {
	background-image: url(pic/top2-6.jpg);
	float: left;
	height: 47px;
	width: 166px;
	margin-top: 11px;
}

#bottom {
	margin: auto;
	height: 92px;
	width: 1002px;
}
#bottom .b1 {
	background-color: #2295D5;
	background-image: url(pic/bottom1.jpg);
	float: left;
	height: 22px;
	width: 1002px;
	margin-top: 0px;
}
#bottom .b2 {
	background-image: url(pic/bottom2.jpg);
	float: left;
	height: 70px;
	width: 1002px;
}
#bottom .b2 .b2_1 {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	width: 475px;
	margin-top: 14px;
	margin-left: 125px;
}

#main {
	margin: auto;
	height: 1003px;
	width: 1002px;
}

#main .right .r1 {
	background-image: url(pic/main-right1.jpg);
	height: 366px;
	width: 235px;
	margin-top: 39px;
}

#main .right .r2 {
	background-image: url(pic/main-right2.jpg);
	height: 423px;
	width: 235px;
}
#main .right .r3 {
	background-image: url(pic/main-right3.jpg);
	height: 139px;
	width: 235px;
	margin-top: 18px;
	cursor: pointer;
}

#main .left {
	margin: auto;
	float: left;
	height: 1003px;
	width: 292px;
}
#main .middle {
	height: 1003px;
	width: 475px;
	float: left;
	margin: auto;
}
#main .middle .middle_1 {
	background-image: url(pic/main-middle01.jpg);
	height: 269px;
	width: 475px;
	margin-top: 5px;
	cursor: pointer;
}
#main .middle .middle_2 {
	background-image: url(pic/main-middle02.jpg);
	height: 358px;
	width: 475px;
	margin-top: 0px;
}
#main .middle .middle_2 .middle_21 {
	font-family: "宋体";
	font-size: 14px;
	height: 220px;
	width: 400px;
	margin-top: 55px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	line-height: 22px;
}
#main .middle .middle_3 {
	background-image: url(pic/main-middle03.jpg);
	height: 363px;
	width: 475px;
}
#main .middle .middle_3 .middle_31 {
	height: 240px;
	width: 450px;
	margin-top: 80px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main .middle .middle_3 .middle_32 {
	float: left;
	height: 239px;
	width: 140px;
	margin-left: 2px;
}


#main .right {
	margin: auto;
	float: right;
	height: 1003px;
	width: 235px;
}
#main .left .left_flash {
	float: left;
	height: 220px;
	width: 292px;
	margin-top: 10px;
	background-color: div;
}
#main .left div{
	cursor:pointer;
}
#main .left .left_1 {
	background-color: #4491A1;
	background-image: url(pic/main-left01.jpg);
	float: left;
	height: 113px;
	width: 267px;
	margin-top: 14px;
	margin-left: 5px;
}
#main .left .left_2 {
	background-color: #4491A1;
	background-image: url(pic/main-left02.jpg);
	float: left;
	height: 113px;
	width: 267px;
	margin-top: 14px;
	margin-left: 5px;
}
#main .left .left_3 {
	background-color: #4491A1;
	background-image: url(pic/main-left03.jpg);
	float: left;
	height: 113px;
	width: 267px;
	margin-top: 14px;
	margin-left: 5px;
}
#main .left .left_4 {
	background-color: #4491A1;
	background-image: url(pic/main-left04.jpg);
	float: left;
	height: 113px;
	width: 267px;
	margin-top: 14px;
	margin-left: 5px;
}
#main .left .left_5 {
	background-color: #4491A1;
	background-image: url(pic/main-left05.jpg);
	float: left;
	height: 113px;
	width: 267px;
	margin-top: 14px;
	margin-left: 5px;
}
#main .left .left_6 {
	background-color: #4491A1;
	background-image: url(pic/main-left06.jpg);
	float: left;
	height: 113px;
	width: 267px;
	margin-top: 14px;
	margin-left: 5px;
}
#main05 {
	height: auto;
	width: 1002px;
	margin: auto;
}

#main05 .left05 {
	float: left;
	height: 1003px;
	width: 750px;
	margin: auto;
}

#main05 .right05 {
	float: right;
	height: 1003px;
	width: 250px;
}
#main05 .left05 .l05_1 {
	float: left;
	height: 20px;
	width: 270px;
	margin-top: 22px;
	font-family: "宋体";
	font-size: 14px;
	padding-left: 15px;
}
#main05 .left05 .l05_2 {
	float: none;
	height: 924px;
	width: 664px;
	margin-top: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

#main05 .left05 .l05_21 {
	background-image: url(pic/main05-1-1.jpg);
	float: left;
	height: 179px;
	width: 664px;
}
#main05 .left05 .l05_2 .l05_21 .l05_211 {
	font-family: "楷体ＣＳ";
	font-size: 40px;
	font-weight: bolder;
	float: right;
	height: 50px;
	width: 250px;
	margin-top: 20px;
}

#main05 .left05 .l05_22 {
	background-image: url(pic/main05-1-2.jpg);
	float: left;
	height: 725px;
	width: 13px;
}
.no-indent{
	text-indent:0em !important;
}
#main05 .left05 .l05_23 {
	text-indent:2em;
	background-image: url(pic/main05-1-5.jpg);
	font-family: "楷体_GB2312";
	font-size: 24px;
	color: #000000;
	float: left;
	height: 725px;
	width: 623px;
	margin-left: 10px;
	text-align: left;
	list-style-type: disc;
	list-style-position: inside;
	line-height: 30px;
	font-weight: bold;
}
#main05 .left05 .l05_2 .l05_231 {
	height: 180px;
	width: 590px;
	margin: auto;
}
#main05 .left05 .l05_2 .l05_2311 {
	height: 140px;
	width: 142px;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	float: left;
}
#main05 .left05 .l05_2 .l05_2312 {
	font-family: "华文新魏";
	font-size: 20px;
	float: right;
	height: 140px;
	width: 380px;
	margin-top: 15px;
	font-weight: bold;
}



#main05 .left05 .l05_24 {
	background-image: url(pic/main05-1-3.jpg);
	float: left;
	height: 725px;
	width: 18px;
}
#main05 .left05 .l05_25 {
	background-image: url(pic/main05-1-4.jpg);
	float: left;
	height: 20px;
	width: 664px;
}
#main05 .right05 .r05 {
        background-image: url(pic/main05-r.jpg);
	float: left;
	height: 937px;
	width: 246px;
	margin-top: 40px;
	background-color: #C5E5FA;
}


#main05 .right05 .r05 .r05_01 {
	float: left;
	height: 34px;
	width: 191px;
	margin-top: 32px;
	margin-left: 10px;
}
#main05 .right05 .r05 .r05_00 {
	margin-top: 30px;
	float: left;
	height: 58px;
	width: 161px;
	margin-left: 20px;
	background-image: url(pic/jianjie.jpg);
}



#main05 .right05 .r05 .r05_02 {
	background-image: url(pic/main05-right02.jpg);
	float: left;
	height: 58px;
	width: 161px;
	margin-top: 30px;
	margin-left: 20px;
}
#main05 .right05 .r05 .r05_03 {
	float: left;
	height: 58px;
	width: 161px;
	margin-top: 30px;
	margin-left: 20px;
	background-image: url(pic/main05-right03.jpg);
}
#main05 .right05 .r05 .r05_04 {
	background-image: url(pic/main05-right04.jpg);
	height: 58px;
	width: 161px;
	margin-top: 30px;
	margin-left: 20px;
	float: left;
}
#main05 .right05 .r05 .r05_05 {
	background-image: url(pic/main05-right05.jpg);
	float: left;
	height: 50px;
	width: 139px;
	margin-top: 20px;
	margin-left: 30px;
}
#main05 .right05 .r05 .r05_06 {
	background-image: url(pic/main05-right06.jpg);
	float: left;
	height: 50px;
	width: 139px;
	margin-top: 10px;
	margin-left: 30px;
}
#main05 .right05 .r05 .r05_07 {
	background-image: url(pic/main05-right07.jpg);
	float: left;
	height: 50px;
	width: 139px;
	margin-top: 10px;
	margin-left: 30px;
}
#main05 .right05 .r05 .r05_08 {
	background-image: url(pic/main05-right08.jpg);
	height: 50px;
	width: 139px;
	margin-top: 10px;
	margin-left: 30px;
	float: left;
}
#main05 .right05 .r05 .r05_09 {
	background-image: url(pic/main05-right09.jpg);
	float: left;
	height: 49px;
	width: 139px;
	margin-top: 10px;
	margin-left: 30px;
}
#main05 .right05 .r05 .r05_10 {
	background-image: url(pic/main05-right10.jpg);
	float: left;
	height: 50px;
	width: 139px;
	margin-top: 10px;
	margin-left: 30px;
}
#main05 .right05 .r05 .r05_11 {
	float: left;
	height: 52px;
	width: 139px;
	margin-top: 10px;
	margin-left: 30px;
	background-image: url(pic/main05-right11.jpg);
}
#main05 .right05 .r05 .r05_12 {
	background-image: url(pic/main05-right12.jpg);
	float: left;
	height: 52px;
	width: 139px;
	margin-top: 10px;
	margin-left: 30px;
}
#main02 {
	height: 1003px;
	width: 1002px;
}
#main02 .m021 {
	font-family: "宋体";
	font-size: 14px;
	float: left;
	height: 20px;
	width: 270px;
	margin-top: 22px;
	padding-left: 15px;
}
#main02 .m022 {
	background-color: #EDF6FD;
	float: left;
	height: 930px;
	width: 1002px;
}
#main02 .m022 .m0221 {
	height: 906px;
	width: 600px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}
#main02 .m022 .m0221 .m0221_1 {
	background-image: url(pic/main02-m01.jpg);
	float: left;
	height: 90px;
	width: 600px;
}
#main02 .m022 .m0221 .m0221_search {
	background-image: url(pic/main02-search.jpg);
	float: left;
	height: 90px;
	width: 600px;
}
#main02 .m022 .m0221 .m0221_2 {
	background-image: url(pic/main02-m02.jpg);
	float: left;
	height: 738px;
	width: 14px;
}
#main02 .m022 .m0221 .m0221_3 {
	font-family: "宋体";
	font-size: 14px;
	line-height: 30px;
	float: left;
	height: 738px;
	width: 549px;
	background-color: #FFFFFF;
}
#main02 .m022 .m0221 .m0221_4 {
	background-image: url(pic/main02-m03.jpg);
	float: left;
	height: 738px;
	width: 37px;
}
#main02 .m022 .m0221 .m0221_5 {
	background-image: url(pic/main02-m04.jpg);
	float: left;
	height: 78px;
	width: 600px;
}
#main02 .m022 .m0221 .m0221_5 .m0221_5_1 {
	font-family: "宋体";
	font-size: 14px;
	color: #000099;
	text-decoration: blink;
	float: none;
	height: 20px;
	width: 220px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main07 {
	height: 1003px;
	width: 1002px;
}
#main07 .left07 {
	margin: auto;
	float: left;
	height: 1003px;
	width: 750px;
}
#main07 .right07 {
	margin: auto;
	float: right;
	height: 1003px;
	width: 252px;
}
#main07 .left07 .l071 {
	font-family: "宋体";
	font-size: 14px;
	float: left;
	height: 20px;
	width: 270px;
	margin-top: 22px;
	padding-left: 15px;
}
#main07 .left07 .l072 {
	height: 958px;
	width: 715px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main07 .right07 .r07 {
	background-color: #C5E5FA;
	height: 937px;
	width: 246px;
	float: left;
	margin-top: 40px;
}

#main07 .right07 .r07 .r07_1 {
	background-image: url(pic/main05-right01.jpg);
	float: none;
	height: 34px;
	width: 191px;
	margin-top: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}
#main07 .right07 .r07 .r07_2 {
	background-image: url(pic/main07-right01.jpg);
	height: 472px;
	width: 214px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	background-repeat: no-repeat;
}
#main07 .right07 .r07 .r07_2 .r07_2_1 {
	font-family: "楷体_GB2312";
	font-weight: bolder;
	font-size: 24px;
	text-align: center;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	width: 80px;
	color: #336600;
	vertical-align: top;
	height: 418px;
	line-height: 330%;
}
#main07 .right07 .r07 .r07_2 .r07_2_2 {
	font-family: "楷体_GB2312";
	font-size: 24px;
	font-weight: bolder;
	color: #336600;
	width: 80px;
	margin-top: 56px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	vertical-align: top;
}
#main07 .right07 .r07 .r07_2 .r07_2_3 {
	font-family: "楷体_GB2312";
	font-size: 24px;
	font-weight: bolder;
	color: #336600;
	width: 80px;
	margin-top: 54px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main07 .right07 .r07 .r07_2 .r07_2_4 {
	font-family: "楷体_GB2312";
	font-size: 24px;
	font-weight: bolder;
	color: #336600;
	width: 80px;
	margin-top: 54px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main07 .right07 .r07 .r07_2 .r07_2_5 {
	font-family: "楷体_GB2312";
	font-size: 24px;
	font-weight: bolder;
	color: #336600;
	width: 80px;
	margin-top: 54px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main07 .right07 .r07 .r07_2 .r07_2_6 {
	font-family: "楷体_GB2312";
	font-size: 24px;
	font-weight: bolder;
	color: #336600;
	width: 80px;
	margin-top: 54px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

#main02-1 {
	height: auto;
	width: 1002px;
}
#main02-1 .m02-11 {
	font-family: "宋体";
	font-size: 14px;
	height: 20px;
	width: 270px;
	margin-top: 22px;
	float: left;
	padding-left: 15px;
}
#main02-1 .m02-12 {
	background-color: #FDF1F1;
	height: auto;
	width: 1002px;
	margin-bottom: 20px;
	float: left;
}
#main02-1 .m02-12 .m02-12_1 {
	height: 940px;
	width: 675px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main02-1 .m02-12 .m02-12_11 {
	background-image: url(pic/main02-1-m01.jpg);
	float: left;
	height: 120px;
	width: 675px;
	background-repeat: no-repeat;
}
#main02-1 .m02-12 .m02-12_11 .m02-12_11_1 {
	font-family: "宋体";
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	height: 26px;
	width: 420px;
	margin-top: 66px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	text-align: center;
	vertical-align: middle;
	letter-spacing: 2px;
}
#main02-1 .m02-12 .m02-12_12 {
	height: auto;
	width: 675px;
	float: left;
	margin-top: 0px;
	border: medium double #E99B99;
	margin-bottom: 5px;
}
#main02-1 .m02-12 .m02-12_12 .m02-12_12_1 {
	height: auto;
	width: auto;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main02-1 .m02-12 .m02-12_12 .m02-12_12_2 {
	height: auto;
	width: 655px;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	font-family: "宋体";
	font-size: 12px;
}
#main03 {
	height: auto;
	width: 1002px;
}
#main03 .left03 {
	height: 1310px;
	width: 750px;
	float: left;
}
#main03 .left03 .l031 {
	font-family: "宋体";
	font-size: 14px;
	float: left;
	height: 20px;
	width: 270px;
	margin-top: 22px;
	padding-left: 20px;
	text-align: left;
}
#main03 .left03 .l032 {
	height: 1290px;
	width: 700px;
	margin: auto;
}
#main03 .left03 .l032 .l032_1 {
	font-family: "楷体ＣＳ";
	font-size: 30px;
	text-align: left;
	font-weight: bolder;
	/*background-image: url(pic/main03-left01.jpg);*/
	float: left;
	height: 38px;
	width: 700px;
	margin-top: 0px;
	background-repeat: no-repeat;
}
#main03 .left03 .l032 .l032_2 {
	font-family: "宋体";
	font-size: 14px;
	color: #000000;
	background-color: #EDF6FD;
	height: 1252px;
	width: 700px;
	border: thick solid #81C32D;
	margin: auto;
	float: left;
}
#main03 .left03 .l032 .l032_2 .l032_22 {
	/*font-family: "华文行楷";*/
	font-family: "楷体";
	font-weight:bold;
	font-size: 20px;
	line-height: 40px;
	height: auto;
	width: 660px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	text-indent: 40px;
	text-align: left;
}
.shuma{
	background-image: url(pic/shuma.jpg) !important;
}
.guangbo{
	background-image: url(pic/broadcast-big.jpg) !important;
}
.shiji{
	background-image: url(pic/shiji.jpg) !important;
}
.chumo{
	background-image: url(pic/chumo.jpg) !important;
}
.pingguo{
	background-image: url(pic/pingguo.jpg) !important;
}
.yanbo{
	background-image: url(pic/yanbo.jpg) !important;
}
.peixun{
	background-image: url(pic/peixun.jpg) !important;
}
.menshi{
	background-image: url(pic/menshi.jpg) !important;
}
#main03 .left03 .l032 .l032_2 .l032_21 {
	/*background-image: url(pic/main03-left02.jpg);*/
	height: 300px;
	width: 382px;
	margin-right: 0px;
	margin-bottom: 40px;
	float: right;
	background-repeat: no-repeat;
	margin-top: 20px;
}
#main03 .right03 .r03 .r03_3 {
	background-image: url(pic/boardcast.jpg);
	height: 134px;
	width: 192px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main03 .right03 .r03 .r03_4 {
	background-image: url(pic/main03-right03.jpg);
	height: 134px;
	width: 192px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main03 .right03 .r03 .r03_5 {
	background-image: url(pic/multimedia.jpg);
	height: 134px;
	width: 192px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main03 .right03 .r03 .r03_6 {
	background-image: url(pic/main03-right05.jpg);
	height: 134px;
	width: 192px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main03 .right03 .r03 .r03_8 {
	background-image: url(pic/main03-right07.jpg);
	height: 134px;
	width: 192px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main03 .right03 .r03 .r03_9 {
	background-image: url(pic/main03-right08.jpg);
	height: 134px;
	width: 192px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}
#main03 .right03 .r03 .r03_7 {
	background-image: url(pic/main03-right06.jpg);
	height: 134px;
	width: 192px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main03 .right03 .r03 .r03_2 {
	background-image: url(pic/main03-right01.jpg);
	height: 134px;
	width: 192px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

#main03 .right03 .r03 {
	background-color: #C5E5FA;
	height: auto;
	width: 246px;
	margin-top: 46px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main03 .right03 .r03 .r03_1 {
	background-image: url(pic/main05-right01.jpg);
	height: 34px;
	width: 191px;
	margin-top: 32px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main03 .right03 {
	float: right;
	height: auto;
	width: 252px;
}
#main04 {
	margin: auto;
	height: auto;
	width: 1002px;
}

#main041 {
	font-family: "宋体";
	font-size: 14px;
	float: left;
	height: 20px;
	width: 270px;
	margin-top: 22px;
	padding-left: 15px;
}
#main042 {
	height: auto;
	width: 1002px;
	float: left;
}
#main042 .left042 {
	background-color: #C5E5FA;
	float: left;
	height: 950px;
	width: 254px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main042 .left042 .l0421 {
	background-image: url(pic/main05-right01.jpg);
	height: 34px;
	width: 191px;
	margin-top: 32px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main042 .left042 .l0422 {
	background-image: url(pic/main04-left01.jpg);
	height: 90px;
	width: 174px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main042 .left042 .l0423 {
	background-image: url(pic/main04-left02.jpg);
	height: 90px;
	width: 174px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main042 .left042 .l0424 {
	background-image: url(pic/main04-left03.jpg);
	height: 90px;
	width: 174px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main042 .right042 {
	float: right;
	height: auto;
	width: 748px;
}
#main042 .right042 .r0421 {
	background-color: #EDF6FD;
	height: auto;
	width: 732px;
	margin-top: 6px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main042 .right042 .r0421 .r0421_1 {
	height: auto;
	width: 693px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main042 .right042 .r0421 .r0421_2 {
	height: auto;
	width: 693px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main042 .right042 .r0421 .r0421_3 {
	height: auto;
	width: 693px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
#main042 .right042 .r0422 {
	font-family: "宋体";
	font-size: 14px;
	float: right;
	height: 20px;
	width: 230px;
	margin-top: 10px;
}
#main061 {
	font-family: "宋体";
	float: left;
	height: 20px;
	width: 270px;
	margin-top: 22px;
	font-size: 14px;
	padding-left: 15px;
}
#main062 {
	background-color: #FFFFFF;
	height: auto;
	width: 1002px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	float: left;
}
#main062 .m062_1 {
	height: auto;
	width: 684px;
	margin-top: 6px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	background-color: #FFFFFF;
	border: thin solid #A5C6D7;
}
#main062 .m0621 {
	float: left;
	height: auto;
	width: 750px;
}


#main062 .m062_1 .m062_1_1 {
	height: auto;
	width: 628px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	font-family: "楷体_GB2312";
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	text-indent: 20px;
}
#main062 .m0622 {
	float: left;
	height: auto;
	width: 252px;
}
#main062 .m0622 .m0622_1 {
	background-image: url(pic/main06-r01.jpg);
	height: 54px;
	width: 158px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main062 .m0622 .m0622_2 {
	background-image: url(pic/main06-r02.jpg);
	height: 54px;
	width: 158px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#main062 .m0622 .m0622_3 {
	background-image: url(pic/main06-r03.jpg);
	height: 54px;
	width: 158px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}


.middle_32 img{
	border: none;
}