.wentu_previous, .wentu_next{
	height:25px;
	width:25px;
	position: absolute;
	bottom: 0px;
}
.wentu_previous{
	background:url(images/controls.png) no-repeat -75px 0;
}
.wentu_next{
	left:27px;
	background:url(images/controls.png) no-repeat -50px 0;
}

.wentu_wrapper{
	position: relative
}