/*
# ------------------------------------------------------------------------
# JA Tabs Plugins for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/
.trona .container {
	border: 1px solid #E0E0E0;
}

.trona .ja-tabswrap div.ja-tab-content {	
	width: 95%;
}

.ja-tabswrap div.ja-tab-subcontent {
	padding: 10px !important;
}

/* JA Tabs top*/
.trona .ja-tabs-title-top {
	background: url(tab-title-bg.gif) repeat-x left bottom #F8F8F8;
	position: relative;
	width: 100%;
}

.trona .ja-tabs-title-top ul.ja-tabs-title {
	padding: 5px 0 0 10px;
	display: block;
	left: 0;
	top: 0;
}

.trona .ja-tabs-title-top ul.ja-tabs-title li {
	margin-right: 5px;
	padding: 0;
}

.trona .ja-tabs-title-top ul.ja-tabs-title li h3 {
	color: #666666;
	font-size: 10px;
	font-weight: bold !important;
	line-height: 25px;
	padding: 0 10px;
	margin: 0;
	letter-spacing: normal;
	text-transform: uppercase;
	float: left;
}

.trona .ja-tabs-title-top ul.ja-tabs-title li h3 span {
	background: none;
}

.trona .ja-tabs-title-top ul.ja-tabs-title li.hover,
.trona .ja-tabs-title-top ul.ja-tabs-title li.firsthover,
.trona .ja-tabs-title-top ul.ja-tabs-title li.lasthover {
}

.trona .ja-tabs-title-top ul.ja-tabs-title li.active,
.trona .ja-tabs-title-top ul.ja-tabs-title li.firstactive,
.trona .ja-tabs-title-top ul.ja-tabs-title li.lastactive {
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-bottom: none;
}

.trona .ja-tabs-title-top ul li.active h3,
.trona .ja-tabs-title-top ul li.firstactive h3,
.trona .ja-tabs-title-top ul li.lastactive h3 {
	color: #D7025F;
}

/* JA Tabs bottom */
.ja-tab-panels-bottom .ja-tab-content div.ja-tab-subcontent {
	padding: 20px 10px 10px !important;
}

.trona .ja-tabs-title-bottom {
	background: url(tab-bot-title-bg.gif) repeat-x left top #F8F8F8;
	position: relative;
	height: 31px;
	z-index: 3;
	width: 100%;
}

.trona .ja-tabs-title-bottom ul.ja-tabs-title {
	padding: 0 0 15px 10px;
	top: 0;
	left: 0;
}

.trona .ja-tabs-title-bottom ul.ja-tabs-title li {
	margin-right: 5px;
	background: none;
}

.trona .ja-tabs-title-bottom ul.ja-tabs-title li h3 {
	color: #666666;
	font-size: 10px;
	font-weight: bold !important;
	line-height: 25px;
	margin: 0;
	padding: 0 10px;
	letter-spacing: normal;
	text-transform: uppercase;
}

.trona .ja-tabs-title-bottom ul.ja-tabs-title li h3 span {
	background: none !important;
}

.trona .ja-tabs-title-bottom ul.ja-tabs-title li.active,
.trona .ja-tabs-title-bottom ul.ja-tabs-title li.firstactive,
.trona .ja-tabs-title-bottom ul.ja-tabs-title li.lastactive {
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-top: none;
}

.trona .ja-tabs-title-bottom ul li.active h3,
.trona .ja-tabs-title-bottom ul li.firstactive h3,
.trona .ja-tabs-title-bottom ul li.lastactive h3 {
	color: #D7025F;
}