.ja-cats-slide-mainwrap{
	position: relative;
	width: 100%;
}
.ja-cats-slide-boxs{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.ja-cats-slide-box{
	position: absolute;
	width: 100%;
}
.ja-newspro-control{
	position:absolute;
	right:0;
	top: 15px;
}
.ja-zinsec{
	position: relative;
}