

body{
    position: absolute;
    font-family:"SimSun","宋体","Arial Narrow";font-size:12px;margin:0px;padding:0px;
    width: 100%;
    min-height: 768px;
    height: 100%;
}
.clr{clear:both;}
.fontGreen{color:#526742;}
#container{margin:0px auto;width:1002px;}
/* ----------Header---------- */
#header{float:left;height:345px;margin:0px auto;width:1002px;}
#header .headerLeft{background:url(../images/homeHeaderLeft.jpg) no-repeat;float:left;height:345px;position:relative;width:155px;}
#header .headerLeft ul.nav{list-style:none;margin-top:110px;}
#header .headerLeft ul.nav li{height:40px;line-height:15px;list-style:none;}
#header .headerLeft ul.nav li span{font-size:10px;}
#header .headerLeft ul.nav li a{color:#333333;font-size:13px;font-weight:bold;text-decoration:none;}
#header .headerLeft ul.nav li a:hover{text-decoration:underline;}
#header .headerLeft ul.nav li a.current{ color:#FFF !important;}
#header .headerRight{float:left;height:345px;width:847px;}
#header .headerRight .centerNav{float:left;margin-top:20px;}
#header .headerRight .centerNavLeft{background:url(../images/topNavLeft.gif) no-repeat;float:left;height:40px;width:38px;}
#header .headerRight ul.centerNavCenter{background:url(../images/topNavCenter.gif) repeat-x;display:block;float:left;height:40px;list-style:none;margin:0px;padding:0px;width:545px;}
#header .headerRight ul.centerNavCenter li{display:block;float:left;height:18px;list-style:none;margin:2px 27px 0px 0px;width:auto; line-height:18px;}
#header .headerRight ul.centerNavCenter .lineHeight17{ line-height:17px;}
#header .headerRight ul.centerNavCenter li a{color:#003f7f;font-size:13px;font-weight:bold;letter-spacing:2px;text-decoration:none;}
#header .headerRight ul.centerNavCenter li a:hover{color:#003f7f;text-decoration:underline;}
#header .headerRight ul.centerNavCenter li a:visited{color:#003f7f;}
#header .headerRight ul.centerNavCenter li a.current{color:#003f7f !important;}
#header .headerRight ul.centerNavCenter li a.top{color:#ffffff;}
#header .headerRight ul.centerNavCenter li a.bottom{color:#ffffff;}
#header .headerRight .centerNavRight{background:url(../images/topNavRight.gif) no-repeat;float:left;height:40px;width:38px;}
#header .headerRight .search{_height:28px;background-color:#4B8D7F;float:left;height:26px;margin-top:26px;position:relative;width:210px;_width:230px; _height:32px}
#header .headerRight .search input{_margin:2px;_width:140px;border:none;display:block;float:left;height:18px;margin:3px;width:150px;}
#header .headerRight .search a{_right:5px;color:#FFF;display:inline-block;font-size:13px;font-weight:bold;height:18px;margin:3px 0px 0px 3px;position:absolute;right:18px;text-decoration:none;top:2px;width:20px;}
/* ----------Layout---------- */
#containerLeft{float:left;margin:0px 25px 0px 0px;width:260px;}
#containerRight{float:left;margin:0px 0px 0px 0px;width:715px;}
/*#containerPolicy{float:left;margin:0px 10px 0px 0px;width:1002px; background:url(../images/policy.jpg) no-repeat; height:958px;}*/
#containerPolicy{float:left;margin:0px 10px 0px 0px;width:1002px; height:700px;}
#containerResult{float:left;margin:0px 10px 0px 0px;width:1002px; background:url(../images/resultBG.jpg) no-repeat bottom right; height:auto;}
#containerCenterNews{float:left;margin:0px 10px 0px 0px;width:1002px; height:auto;}

.zhongxindongtai{background:url(../images/centerNewsTitle.jpg) no-repeat; height:150px !important; }
.zhongxindongtai .word{width:300px !important; }
.centerNewsContext{ width:650px; margin:0px auto; line-height:20px}
.centerNewsContext .title{ height:100px; left top no-repeat;}
.centerNewsContext .title .word{ width:600px; height:50px; padding-top:50px; float:right; text-align:center; font-size:18px; font-weight:bold; line-height:25px;}
.centerNewsContext img{margin:5px 5px 3px 5px;width:312px;height:209px;}
.centerNewsContext p{}
.centerNewsContext .image{ width:332px; height:231px; background:url(../images/centerNewsDemo.jpg); float:left; margin:0px 5px 5px 5px;}
.resultContext{ width:650px; margin:0px auto; padding-bottom:300px;}
.resultContext .infoList{ position:relative;}
.infoList .more {float:right;font-size:14px;font-weight:bold;height:25px;margin-right:8px;}
.infoList ul li div{padding-top: 1px;}
.centerNews ul li div{padding-top: 2px !important;}
.centerNews .more {margin-right:47px;}
.infoList .more a{display:block;background:url(../images/more.gif) no-repeat left top; width:50px;height:20px; }
 .resultContext .title{ font-size:18px; font-weight:bold; color:#30534a; margin-bottom:15px; line-height:22px;}
.resultContext .resultInfoTable td{ text-align:center !important}
#footer{background:url(../images/footerBackground.jpg);clear:both;float:left;height:76px;width:1002px; position:relative}
#footer .logo{ background:url(../images/footerLogo.jpg) no-repeat; height:45px; width:250px; position:absolute; top:20px; left:300px; padding-left:45px; font-size:12px; color:#000; font-weight:bold; padding-top:5px; line-height:10px; letter-spacing:2px;}
/* ----------Video page---------- */
.rankingTitle{background:url(../images/rankingTitle.jpg) no-repeat;float:left;height:75px;width:295px;}
.rankingList{background:url(../images/dotLine.jpg) repeat-x 0 100%;float:left;margin-top:10px;width:300px;height:190px;overflow:hidden;}
#containerLeft .rankingList{
    width:300px;height:170px;
}
/*.rankingList p{margin:1px 0px 1px 1px;}*/
.rankingList *{margin:2px 0px 1px 1px;}
.subPageRankingList{ width:335px !important;}
.subPageRankingList .rankingListPic{height:120px !important;width:120px !important;}
.rankingList .texts{float:left; width:158px;}
.noDotLine{background:none !important;}
.rankingList .title{color:#333333;float:left;font-size:12px;font-weight:bold;margin-bottom:10px;width:295px; line-height:20px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis; }
.rankingList .title a{color:#333333; text-decoration:none}
.rankingList .title a:hover{ text-decoration:underline}
/*.rankingList .rankingListPic{float:left;height:79px;margin-bottom:10px;width:79px;}*/
.rankingList .rankingListPic{float:left;margin-bottom:10px;}
.rankingList .rankingListPic_M{float:left;margin-bottom:10px;}
.rankingList .comment, .rankingList ul{display:block;float:left;list-style:none;margin:0px;margin-bottom:10px;padding:0px;width:210px;height:90px;overflow:hidden;}
.rankingList ul li{letter-spacing:2px;line-height:22px;list-style:none;padding-left:30px;width:180px;}
.rankingList ul li a{text-decoration:none;}
.videoContainer{background:url(../images/videoBackground.jpg) repeat-x;float:left;height:410px;margin:10px 0px 0px 0px;width:672px;}
.videoContainer .video{background:url() no-repeat;float:left;height:375px;margin:28px 0px 0px 5px;width:471px;}
.videoContainer .indexVideo{background:url() no-repeat !important;}
.videoContainer .titleImage{ background:url(../images/indexVideoTitle.gif) no-repeat; width:117px; height:53px;}
.videoContainer .description{color:#FFF;float:left;font-size:13px;font-weight:bold;line-height:23px;margin:28px 0px 0px 10px;padding:0px;width:170px;}
.videoContainer .description .title{ font-size:16px; font-weight:bold; padding-left:10px;}
.videoContainer .description ul{ display:block; padding:0px; margin:0px; list-style:none; width:189px;}
.videoContainer .description ul li{ width:157px; height:22px; margin: 10px 0px; background:url(../images/videoListBG.gif) no-repeat; color:#FFF; list-style:none; float:left; position:relative; padding-left:32px; font-size:12px;}
.videoContainer .description ul li a{ text-decoration:none; color:#FFF}
.videoContainer .description ul li a:hover{ text-decoration:underline}
.videoContainer .description ul li .number{ position:absolute; top:-5px; left:16px; color:#FFF; font-size:12px; font-weight:bold;}
.videoTitle{background:url(../images/videoTitle.jpg) no-repeat;float:left;height:21px;margin:15px 0px 0px 0px;padding-left:10px;width:660px;}
.videoItem{float:left;}
.videoImage{margin:10px 0px 0px 20px;}
.relatedTitle{margin:0 0 0 20px;width:100px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
/* ----------Sub page---------- */

/*
.subPageRankingTitle{background:url(../images/subPageRanking.gif) no-repeat;float:left;height:45px;width:295px;}
.newUploadTitle{background:url(../images/newUpload.jpg) no-repeat;float:left;height:44px;width:295px; margin-top:10px}
.greenNumberList{ background:url(../images/greenNumber.jpg) repeat-y !important; }
ul.commonRankingList{float:left;width:260px; padding:0px; margin:10px 0px 0px 0px; background:url(../images/rankingNumber.jpg) left top no-repeat; padding-left:35px;}
ul.commonRankingList li{letter-spacing:2px;line-height:26px;list-style:none;;width:250px;font-size:12px; display:inline-block; height:26px;float:left; padding:0px; margin:0px;}
ul.commonRankingList li a{ text-decoration:none; color:#333; display:block; float:left; width:81%; overflow:hidden; white-space:nowrap; text-overflow: ellipsis;}
ul.commonRankingList li .type{width:18%; display:block; float:left; text-align:right;}
ul.commonRankingList li a:hover{ text-decoration:underline;}
*/
.ranking-wrap{
    border: solid 4px #82C125;
    font-family: sans-serif;
    margin-top: 10px;
    min-height: 350px;
}

#containerRight .ranking-wrap{
    border: none;
}
.subPageRankingTitle{
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    padding-left: 60px;
}
.commonRankingList{
    margin:0;
    padding: 0;
}
.commonRankingList li{
    letter-spacing:2px;line-height:26px;list-style:none;font-size:12px; height:26px;padding-left:60px; margin:0px;
}

ul.commonRankingList li a{
    text-decoration:none; color:#333; display:inline-block; overflow:hidden; white-space:nowrap; text-overflow: ellipsis; vertical-align: middle;
    text-align: center;
}
ul.commonRankingList li .type{
    display: none;
}
.commonRankingList li:hover{
    width: 210px;
    background: -moz-linear-gradient(top, rgba(95,150,64,1) 0%, rgba(134,195,30,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(95,150,64,1)), color-stop(100%,rgba(134,195,30,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(95,150,64,1) 0%,rgba(134,195,30,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(95,150,64,1) 0%,rgba(134,195,30,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(95,150,64,1) 0%,rgba(134,195,30,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(95,150,64,1) 0%,rgba(134,195,30,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f9640', endColorstr='#86c31e',GradientType=0 ); /* IE6-9 */
}
.commonRankingList li:hover a{
    color: #fff !important;
}

.subPageRightTitle{width:672px; height:34px; background:url(../images/subPageTitle.jpg) no-repeat; margin:0px; padding:0px}
.subPageRightLittleTitle{ width:520px; height:23px; background:url(../images/subPageLittleTitle.jpg) no-repeat  20px 0px; padding-left:150px; font-size:18px; font-weight:bold; letter-spacing:3px; line-height:20px; margin-top:10px; color:#4a6137;}
.subPageRightLittleTitle a{color:#4a6137; text-decoration:none}
.subPageRightList{width:910px;position: relative;}
/* ----------index page---------- */
.indexContainerLeftL{ width:290px; float:left}
.indexContainerLeftL .infoList{ width:290px; float:left;background:url(../images/dotLine.jpg) repeat-x 0 100%;}
.indexContainerLeftL .infoList .title{width:280px; float:left; height:20px; font-size:18px; font-weight:bold; letter-spacing:3px; line-height:20px; color:#486036; margin-top:10px;}
.indexContainerLeftL .infoList .title span{ font-size:11px; font-weight:bold; letter-spacing:3px; color:#afcf18; letter-spacing:0px;}
.indexContainerLeftL .infoList li{width: 100%;}
.indexContainerLeftL .infoList li a{width: 100% !important;}
.infoList ul{ margin:0px; padding:0px; width:100%; padding-bottom:10px; float:left}
.infoList ul li{margin:0px; padding:0px; width:95%; float:left; list-style:none; line-height:14px; height:14px;margin-top:10px;letter-spacing:2px;}
.infoList ul li a{ text-decoration:none; color:#333;}
.infoList ul li a:hover{ text-decoration:underline;}
.wallNewspaper a,.wallNewspaper a:hover,.wallNewspaper a:visited {color: #003F7F;text-decoration:none;}
.indexContainerLeftL .infoList div.wallNewspaper{ margin:0px; padding:0px; width:100%; padding-bottom:10px; float:left;background:url(../images/wallNewspaper.jpg) no-repeat !important;}
.indexContainerLeftL .infoList div.wallNewspaper p{ margin-left:80px; font-size:12px; font-weight:bold; line-height:18px; color:#333;}
.indexContainerLeftR{ width:370px; float:left; margin-left:10px;}
.indexContainerLeftR .survey { width:auto !important; height:auto !important; background:url() !important;}
.survey .title{margin-left:0px !important;}
.survey  ul li{margin-left:0px !important;}
div.wallNewspaper{ height:100px;margin-left:17px;margin:0px; padding:0px; width:100%; padding-bottom:10px; float:left;background:url(../images/wallNewspaper.jpg) no-repeat !important;}
.indexContainerLeftL .infoList ul li{ font-size:13px; }
.indexContainerLeftL .infoList ul li a{line-height:16px !important}
.indexContainerLeftR .centerNews ul li{ font-size:13px;}
.indexContainerLeftR .centerNews ul li a{line-height:16px !important}
.indexContainerLeftL .infoList div.wallNewspaper p{ margin-left:80px; font-size:12px; font-weight:bold; line-height:20px; color:#333;height:120px;}
.indexContainerLeftR{ width:370px; float:left; margin-left:10px;}
.indexContainerLeftR .infoList{ width:370px; float:left; height:448px; background:url(../images/centerNews.jpg) no-repeat 0px -1px;}
.indexContainerLeftR .infoList .title{width:340px; float:left; height:20px; font-size:18px; font-weight:bold; letter-spacing:3px; line-height:18px; color:#486036; margin-top:10px; margin-left:30px; _margin-left:15px}
.indexContainerLeftR .infoList .title span{ font-size:11px; font-weight:bold; letter-spacing:3px; color:#afcf18; letter-spacing:0px;}
.indexContainerLeftR .infoList ul{ margin:0px; padding:0px; width:100%; padding-bottom:10px; float:left}
.indexContainerLeftR .infoList ul li{margin:0px; padding:0px; width:90%; float:left; list-style:none; line-height:12px; margin-top:10px; letter-spacing:2px; margin-left:30px; _margin-left:15px}
.indexContainerLeftR .infoList ul li a{ text-decoration:none; color:#333;}
.indexContainerLeftR .infoList ul li a:hover{ text-decoration:underline;}
.indexContainerLeftR .infoList .title span{ font-size:11px; font-weight:bold; letter-spacing:3px; color:#afcf18; letter-spacing:0px;}
.indexContainerLeftR .infoList ul{ margin:0px; padding:0px; width:340px !important; padding-bottom:10px; float:left; padding-left:30px !important;}
.indexContainerLeftR .centerNews{ width:370px; float:left; height:448px; background:url(../images/centerNews.jpg) no-repeat 0px -1px;}
.indexContainerLeftR .centerNews .title{width:340px; float:left; height:20px; font-size:18px; font-weight:bold; letter-spacing:3px; line-height:18px; color:#486036; margin-top:10px; margin-left:30px; _margin-left:15px; padding-left:0px !important;}
.indexContainerLeftR .centerNews .title span{ font-size:11px; font-weight:bold; letter-spacing:3px; color:#afcf18; letter-spacing:0px;}
.indexContainerLeftR .centerNews ul{ margin:0px !important; padding:0 0 10px 0 !important; width:100%; padding-bottom:10px; float:left}
.indexContainerLeftR .centerNews ul li{margin:0px; padding:0px; width:90%; float:left; list-style:none; line-height:12px; margin-top:8px; letter-spacing:2px; margin-left:30px; _margin-left:15px}
.indexContainerLeftR .centerNews ul li a{ text-decoration:none; color:#333;}
.indexContainerLeftR .centerNews ul li a:hover{ text-decoration:underline;}
.indexContainerLeftR .timer{ width:370px; height:73px; background:url(../images/timer.gif) no-repeat 50%; float:left; margin-top:10px }
.indexContainerLeftR .timer .number{ width:200px; margin-top:25px; margin-left:130px;}
.indexContainerLeftR .timer .number div{ width:200px; font-size:12px; font-weight:bold; color:#fff; line-height:13px; margin-bottom:10px;}
.indexContainerLeftR .timer .number div span{ display:inline-block; background-color:#FFF; color:#008032;font-size:12px; font-weight:bold; letter-spacing:2px;}
.indexContainerLeftR .infoList .title{width:350px; float:left; height:20px; font-size:18px; font-weight:bold; letter-spacing:3px; line-height:20px; color:#486036; margin-top:10px; padding-left:20px; position:relative}
input.submit{ background:url(../images/submitBtn.gif) no-repeat center; border:0px; width:45px; height:25px; display:block;font-size:0;line-height:0;text-indent:-9999px; cursor:pointer; position:absolute; top:0px; right:80px}
input.result{ background:url(../images/resultBtn.gif) no-repeat center; border:0px; width:56px; height:22px; display:block;font-size:0;line-height:0;text-indent:-9999px; cursor:pointer; position:absolute; top:0px; right:10px}
input.accept{ background:url(../images/acceptBtn.gif) no-repeat center; border:0px; width:57px; height:23px; display:block;font-size:0;line-height:0;text-indent:-9999px; cursor:pointer; position:absolute; top:0px; right:10px}
.resultInfoTable th{ margin:5px; text-align:center; font-size:12px; font-weight:bold; height:25px;}
.resultInfoTable td{ margin:5px; text-align:left; font-size:12px; height:25px;}
/* ----------show page---------- */
.showPageContainer{ background:url(../images/showPageBG.jpg) no-repeat; width:692px !important; height:724px !important; margin:0px !important; position:relative;}
.showPageContainer .leftTitle{ position:absolute; width:25px; height:200px; top:35px;left:25px; layout-flow: vertical-ideographic;writing-mode: tb-rl; font-size:14px; font-weight:bold; line-height:18px; color:#526742;}
@-moz-document url-prefix(){.showPageContainer .leftTitle{left:33px !important;}}
.showPageContainer .bottomNumber{ width:15px; height:15px; position:absolute; left:386px; bottom:88px; font-size:13px; font-weight:bold; color:#FFF; text-align:center; background-color:#102512}
.showPageContainer p{ float:left; font-size:14px; line-height:26px; margin-left:130px;_margin-left:65px; margin-top:10px; width:380px;word-wrap: break-word;
word-break: normal; }
.showPageContainer .title{ width:294px; height:30px;float:left; margin-left:130px;_margin-left:65px; margin-top:30px; font-size:22px; font-weight:bold;}
.showPageContainer .bottomNumber{ width:15px; height:15px; position:absolute; left:386px; bottom:88px; font-size:13px; font-weight:bold; color:#FFF; text-align:center}
.showPageContainer .nextPage{ height:17px; background:url(../images/nextPage.jpg) no-repeat 100% 0; padding-right:25px; position:absolute; right:60px; bottom:30px; font-size:13px; font-weight:bold;}
.showPageContainer .nextPage a{ text-decoration:none; color:#333;}
.showPageContainer .nextPage a:hover{ text-decoration:underline;}
.showPageContainer .previewPage{ height:17px; background:url(../images/previewPage.jpg) no-repeat 0 0; padding-left:25px; position:absolute; left:120px; bottom:30px; font-size:13px; font-weight:bold;}
.showPageContainer .previewPage a{ text-decoration:none; color:#333;}
.showPageContainer .previewPage a:hover{ text-decoration:underline;}

.showPageContainer .content{ float:right; width:540px; height:660px; margin-right:22px; margin-top:35px; }
.showPageContainer .content p{ float:left; font-size:14px; line-height:26px; margin-top:10px; width:380px;word-wrap: break-word;
word-break: normal; }
.showPageContainer .content .title{ width:100%; height:30px;float:left; margin-top:30px; font-size:22px; font-weight:bold;}
/* ----------policy page---------- */
.policyContext{ width:350px; height:600px; margin:30px 0px 0px 370px;}
.policyContext .title{width:340px;height:20px; font-size:18px; font-weight:bold; letter-spacing:3px; line-height:20px; color:#486036; margin-top:10px;}
.policyContext .title span{ font-size:11px; font-weight:bold; letter-spacing:3px; color:#afcf18; letter-spacing:0px;}
.policyContext p{ font-size:13px; font-weight:bold; color:#333; line-height:20px;}
.policyContext a, policyContext a:visited{color:#003F7F;}
.resultInfoTable {_position:relative}
.resultInfoTable th.firstThead{_padding-left:90px;text-align:center; width:160px;}
.resultInfoTable th.secondThead{_padding-left:90px;text-align:left; width:110px;}
.resultInfoTable dd{margin:0;padding:0; }
.resultInfoTable dd{width:80px;height:12px;position:relative; border:1px #ccc solid;float:left;  }
.resultInfoTable dd span{position:absolute;display:block;width:80px;height:12px;background:url(../images/bar.gif) no-repeat 0 0;top:0px;left:0px;overflow:hidden;text-indent:-8000px;}
.resultInfoTable dd em{position:absolute;display:block;width:80px;height:12px;background:url(../images/bg_cover.gif) repeat-x;top:0;}
.resultInfoTable dt{ float:left; margin-left:20px;}
.k2Pagination .pagination li{display:inline;}
.truncateOverflow *{ overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.truncateOverflow-wrap *{ overflow:hidden;text-overflow:ellipsis;}

.selectedCityTitle{margin: 10px;}
.survey a, .survey a:visited, .survey a:hover {color: #003F7F;text-decoration: none; margin:4px;}
.selectedCityTitle{margin: 10px;}
.menu li {white-space:nowrap;}


#carousel-wrap{
    position: absolute;
    top: 480px;
    right: 80px;
}
.roundabout-holder {
    padding: 0;
    margin: 0 auto;
    height: 255px;
    width: 400px;
}

.roundabout-moveable-item {
    height: 350px;
    width: 320px;
    cursor: pointer;

    display:block;
}

.roundabout-moveable-item img {
    height: 100%;
    width: 100%;
}

.roundabout-in-focus {
    cursor: auto;
}

#carousel li {
    height: 240px;
    width: 240px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    opacity: 1!important;
}

#carousel li.roundabout-in-focus:hover span {
    display: block;
    z-index: 1;
}

#carousel li img {
    /*opacity: 0.65;*/
}

#carousel li.roundabout-in-focus{
    cursor: default;
}

#carousel li.roundabout-in-focus img {
    opacity: 1!important;
}
#carousel li.roundabout-in-focus:hover img {
    /*opacity: .5!important;*/
}


#carousel li span {
    /*display: none;*/
    /*position: absolute;*/
    /*width: 260px;*/
    /*border-radius: 5px;*/
    /*margin: 270px 88px;*/
    /*overflow: hidden;*/
    /*box-shadow: 0 0 8px #000;*/
}

#carousel li span a.preview {
    background: #BD3B3C;
    border-radius: 5px 0 0 5px;
}
#carousel li span a:hover.preview {
    background: #CE4A4B;
}
#carousel li span a.details {
    background: #A28E5C;
    border-radius: 0 5px 5px 0;
}
#carousel li span a:hover.details {
    background: #B8A169;
}

.wrap{
    position: absolute;
    bottom: 0;
    height: 768px; /*height should be same as background image*/
    width: 100%;
    background: url('/video/templates/jisheng2015/images/home/home-bg-repeat.png') repeat-x;
}
.container{
    position: relative;
    width: 1024px;
    height: 100%;
    margin: auto;
    background: url('/video/templates/jisheng2015/images/home-bg.jpg') no-repeat;

}

.about-center-icon{
    position: absolute;
    left: 100px;
    top: 50px;
}

.media-column-icon{
    position: absolute;
    left: 80px;
    top: 240px;
}

.legal-icon{
    position: absolute;
    left: 400px;
    top: 250px;

}

.science-base-icon{
    position: absolute;
    left: 400px;
    top: 80px;
}

.home-menu{
    position: absolute;
    margin: 0;
    padding: 5px;
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
    top: 70px;
    right: -35px;
    border-radius: 3px;
    border: solid #fff 1px;
}
a{
    color: #000;
    text-decoration: none;
}
a:visited{
    color: #000;
}

.home-menu li{
    list-style-type: none;
    padding: 3px;
    border-top: solid 1px #fff;
    color: #4E7C15;
    font-family: "微软雅黑";
}
.home-menu a:last-child li{
    border-bottom: solid 1px #fff;
}
.non-home-menu{
    position: absolute;
    margin: 0;
    padding: 5px 4px;
    background: #fff;
    opacity: .8;
    border-radius: 3px;
    width: 67px;
    left: -10px;
}
.non-home-menu li{
    list-style-type: none;
    padding: 3px 0;
    margin-left: 0 !important;
    text-align: center;
}

.related-links{
    position: absolute;
    width: 300px;
    top: 508px;
    left: 169px;
}
.related-links div{
    display: inline-block;
    vertical-align: top;
    width: 18px;
    margin: 5px;
    padding-left: 3px;
    padding-top: 16px;
    font-size: 13px;
    background: -moz-linear-gradient(top, rgba(183,183,183,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,183,183,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(183,183,183,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(183,183,183,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(183,183,183,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(183,183,183,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b7b7', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.related-links a{
    word-break: break-all;
    display: block;
    width: 1px;
    color: #fff;
    font-family: "微软雅黑";
    font-weight: bold;
}
.home-articles{
    position: absolute;
    top: 140px;
    right: 75px;
    width: 255px;
    height: 235px;
    background: url('/video/templates/jisheng2015/images/home-articles-bg.png');
    overflow: hidden;
    font-family: 'SimSun';
    font-size: 15px;
}
.home-articles .title, .home-articles .more{
    display: none;
}

.home-articles ul{
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 20px;

}
.home-articles ul li{
    margin: 5px 0;
}
.home-articles ul a:hover{
    text-decoration: none !important;
}

.home-search-wrap{
    position: absolute;
    right: 30px;
    top: 15px;
    background: url('/video/templates/jisheng2015/images/home/search-container.png');
    width: 330px;
    height: 29px;
}

.home-search-wrap input{
    position: absolute;
    top: 7px;
    left: 17px;
    border: none;
    height: 13px;
    width: 235px;
}
.home-search-wrap input:focus{
    outline: none;
}

.home-search-wrap .home-search-button{
    position: absolute;
    right: 17px;
    top: 8px;
}
.home-search-wrap .home-search-button img{
    height: 15px;
}

#header-2015 .home-search-wrap{
    top: 13px;
    right: 30px;
}

form[name="search-box"]{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99999;
}

.home-footer{
    position: absolute;
    bottom: 5px;
    left: 385px;
    background: url('/video/templates/jisheng2015/images/footer-logo.png') left center no-repeat;
    height: 25px;
    line-height: 25px;
    padding-left: 23px;

}