/*
# ------------------------------------------------------------------------
# JA Tabs Plugins for Joomla 1.5
# ------------------------------------------------------------------------
# Copyright (C) 2004-2010 JoomlArt.com. All Rights Reserved.
# @license GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
# Author: JoomlArt.com
# Websites: http://www.joomlart.com - http://www.joomlancers.com.
# ------------------------------------------------------------------------
*/
.rasite .container {
	background: #101112;
}

.rasite div.ja-tab-subcontent img {
	padding-right: 10px;
}

/* JA Tabs top*/
.rasite .ja-tabs-title-top {
	background: url(title-bg.gif) no-repeat 100% 0 !important;
	padding: 0;
	height: 40px !important;
}

.rasite .ja-tabs-title-top ul.ja-tabs-title {
	background: url(title-bg.gif) no-repeat 0px 0px !important;
	display: block;
	height: 35px;
	padding-top: 4px;
}

.rasite .ja-tabs-title-top ul.ja-tabs-title li {
	background: none;
	margin: 0 0 0 5px;
	padding: 0 10px 0 0;
}

.rasite .ja-tabs-title-top ul.ja-tabs-title li h3 {
	font-size: 100%;
	font-weight: bold !important;
	line-height: 36px;
	margin: 0;
	padding: 0 0 0 10px;
	background: none;
	color: #858585;
	border: none;
	text-transform: uppercase;
}

.rasite .ja-tabs-title-top ul.ja-tabs-title li h3 span {
	padding: 0;
	background: none;
	display: inline;
}

.rasite .ja-tabs-title-top ul.ja-tabs-title li.hover,
.rasite .ja-tabs-title-top ul.ja-tabs-title li.firsthover,
.rasite .ja-tabs-title-top ul.ja-tabs-title li.lasthover {
	background: url(h3-bg.gif) no-repeat top right #101112;
}

.rasite .ja-tabs-title-top ul.ja-tabs-title li.active,
.rasite .ja-tabs-title-top ul.ja-tabs-title li.firstactive,
.rasite .ja-tabs-title-top ul.ja-tabs-title li.lastactive {
	background: url(h3-bg.gif) no-repeat top right #101112;
}

.rasite .ja-tabs-title-top ul.ja-tabs-title li.hover h3,
.rasite .ja-tabs-title-top ul.ja-tabs-title li.firsthover h3,
.rasite .ja-tabs-title-top ul.ja-tabs-title li.lasthover h3 {
	background: url(h3-bg.gif) no-repeat top left;
}

.rasite .ja-tabs-title-top ul li.active h3 ,
.rasite .ja-tabs-title-top ul li.firstactive h3,
.rasite .ja-tabs-title-top ul li.lastactive h3 {
	color: #ccc;
	background: url(h3-bg.gif) no-repeat top left;
}

.rasite .ja-tab-panels-top {
	padding-top: 10px;
}

/* JA Tabs left*/
.rasite .ja-tabs-title-left {
	position: relative;
	float: left;	
	height: 100%;
	background: url(17pxblank.gif) repeat-y right #F7F7F7;
}

.rasite .ja-tabs-title-left ul.ja-tabs-title li {
	height: 100%;
	margin: 0 0 0 1px;
	padding: 0;
	cursor: pointer;
	display: block;
	background: none;
}

.rasite .ja-tabs-title-left ul.ja-tabs-title li h3 {
	font-size: 11px;
	font-weight: bold !important;
	line-height: 30px;
	margin: 0;
	padding: 0 10px;
	background: none;
	font-family: "Lucida Grande", Arial, sans-serif;
	letter-spacing: normal;
}

.rasite .ja-tabs-title-left ul li.active,
.rasite .ja-tabs-title-left ul li.firstactive,
.rasite .ja-tabs-title-left ul li.lastactive {
	background: url(left-active.gif) no-repeat right #FFFFFF;
}

.rasite .ja-tabs-title-left ul li.active H3 ,
.rasite .ja-tabs-title-left ul li.firstactive H3,
.rasite .ja-tabs-title-left ul li.lastactive H3 {
	color: #333333;
}


/* JA Tabs right*/
.rasite .ja-tab-panels-right .ja-tab-subcontent {
	padding-left: 15px !important;
}

.rasite .ja-tabs-title-right {
	background: url(17pxblank2.gif) repeat-y left #F7F7F7;
}

.rasite .ja-tabs-title-right ul.ja-tabs-title li {
	height: 100%;
	margin: 0 0 0 1px;
	padding: 0;
	cursor: pointer;
	display: block;
	background: none;
}

.rasite .ja-tabs-title-right ul.ja-tabs-title li h3 {
	font-size: 11px;
	font-weight: bold !important;
	line-height: 30px;
	margin: 0;
	padding: 0 10px 0 25px;
	background: none;
	font-family: "Lucida Grande", Arial, sans-serif;
	letter-spacing: normal;
}

.rasite .ja-tabs-title-right ul li.active,
.rasite .ja-tabs-title-right ul li.firstactive,
.rasite .ja-tabs-title-right ul li.lastactive {
	background: url(right-active.gif) no-repeat left #FFFFFF;
}

.rasite .ja-tabs-title-right ul li.active h3 ,
.rasite .ja-tabs-title-right ul li.firstactive h3,
.rasite .ja-tabs-title-right ul li.lastactive h3 {
	color: #333333;
}

/* JA Tabs bottom*/
.rasite .ja-tabs-title-bottom {
	height: 30px;
	border-top: 1px solid #CCCCCC;
	position: relative;
	width: 100%;
}

.rasite .ja-tabs-title-bottom ul.ja-tabs-title li {
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	margin-left: 5px;
	margin-top: -1px;
}

.rasite .ja-tabs-title-bottom ul.ja-tabs-title li h3 {
	font-size: 100%;
	font-weight: bold !important;
	line-height: 28px;
	margin: 0;
	padding: 0 10px;
	border: 1px solid #F7F7F7;
	color: #999999;
	border-top: none;
}

.rasite .ja-tabs-title-bottom ul.ja-tabs-title li.hover,
.rasite .ja-tabs-title-bottom ul.ja-tabs-title li.firsthover,
.rasite .ja-tabs-title-bottom ul.ja-tabs-title li.lasthover {
}

.rasite .ja-tabs-title-bottom ul.ja-tabs-title li.active,
.rasite .ja-tabs-title-bottom ul.ja-tabs-title li.firstactive,
.rasite .ja-tabs-title-bottom ul.ja-tabs-title li.lastactive {
	background: #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

.rasite .ja-tabs-title-bottom ul li.active h3 ,
.rasite .ja-tabs-title-bottom ul li.firstactive h3,
.rasite .ja-tabs-title-bottom ul li.lastactive h3 {
	color: #333333;
}